baseURL = 'https://docs.layer5.io'
languageCode = 'en-us'
title = 'Layer5 Docs'
theme = ""
[module]
proxy = "direct"
[module.hugoVersion]
  extended = true
  min = "0.73.0"
[[module.imports]]
  path = "github.com/google/docsy"
  disable = false
[[module.imports]]
  path = "github.com/google/docsy/dependencies"
  disable = false