<div class="md__image">
{{- with $img }}
  {{- $webp := .Process "webp q85" }}
  <button
    type="button"
    class="md__image-trigger"
    aria-label="Expand image{{ with $alt }}: {{ . }}{{ end }}"
  >
    <picture>
      <source
        srcset="{{ $webp.RelPermalink }}"
        type="image/webp"
      >
      <img
        src="{{ $dest | safeURL }}"
        alt="{{ $alt }}"
        width="{{ .Width }}"
        height="{{ .Height }}"
        class="{{ $class }}"
      />
    </picture>
  </button>
{{- else }}
  <button
    type="button"
    class="md__image-trigger"
    aria-label="Expand image{{ with $alt }}: {{ . }}{{ end }}"
  >
    <img
      src="{{ $dest | safeURL }}"
      alt="{{ $alt }}"
      class="{{ $class }}"
    />
  </button>
{{- end }}
</div>