.footer {
  background-color: $black;
  color: $white;
  line-height: 28px;
  padding: 2.5rem 3rem 1.5rem;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -12px;
  font-family: $font-qanelas;

  .d-header {
    height: 6rem;
    background-color: $white;
  }

  .custom-header-links {
    .headerLink {
      a {
        --font-up-1: 15px;
        margin: 0 10px;
        color: red;

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  .search-widget {
    display: none;
  }

  .list-controls {
    .combo-box {
      .combo-box-header {
        border: none;
        font-size: 1.25em;
        text-transform: capitalize;
      }
    }
  }

  .select-kit.combo-box {
    .select-kit-header {
      border: none;
      font-size: 1.25em;
    }
  }

  .categories-and-latest {
    div.column.categories {
      flex: 1 1 55%;
    }

    div.column {
      flex: 0 1 40%;
    }
  }

  .category-list {
    border-collapse: separate;
    border-spacing: 0 1em;

    thead {
      display: none;
    }

    tr {
      display: flex;
      box-sizing: border-box;
      padding: 1em;
      margin-bottom: 2.5em;
      border: none;
      background: $white;
    }

    tbody {
      .category {
        border: none;

        .category-logo.aspect-image {
          --max-height: 75px;
          max-width: 5.625rem;
          height: auto;
        }
      }
    }
  }

  .latest-topic-list-item {
    border-bottom: none;
    margin-bottom: 20px;
  }

  .table-heading {
    border-bottom: none;
  }

  .latest-topic-list-item.visited {
    a.title {
      &:not(.badge-notification) {
        color: $dark;
      }
    }
  }

  .latest-topic-list {
    .table-heading {
      margin-left: 10px;
      color: $dark;
      font-size: 20px;
    }
  }

  .twiiter-sidebar {
    margin-top: 20px;
  }

  .container {
    max-width: 90%;
    margin: auto;
  }

  .footer {
    background-color: $dark;
    z-index: 100;
    color: $body-color;
    line-height: 28px;
  }

  .row {
    width: 100%;
  }

  .footer-top {
    display: flex;
    margin-bottom: 1rem;
  }

  .footer-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-info2 {
    display: flex;
    flex-direction: column;
  }

  .col-lg-6 {
    width: 50%;
    padding: 15px;
  }

  .footer-logo {
    margin-left: -10px;
    max-width: 300px;
    height: auto;
  }

  .col-lg-3 {
    width: 22%;
  }

  .col-lg-9 {
    display: flex;
    flex-direction: column;
  }

  .footer-desc {
    padding-right: 1rem;
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
  }

  .section-title {
    font-size: 1.25rem;
    font-weight: 400;
    width: fit-content;
  }

  .footer-h5 {
    padding: 0;
    font-size: 1rem;
    margin-top: 10px;
    width: fit-content;
  }

  .footer-sections {
    flex: auto;
    padding: 0 1rem;
    //margin-top: 15px;

    a {
      color: $body-color;
      font-weight: 400 !important;

      &:hover {
        color: $primary;
      }
    }
  }

  .footer-icons {
    justify-content: flex-end;

    img {
      padding: 0.1rem;
      height: 30px;
      width: 32px;
    }

    a {
      padding-right: 15px;
      filter: grayscale(1) invert(0.25);

      &:hover {
        filter: grayscale(0) invert(0);
      }
    }
  }

  .social-icon {
    filter: grayscale(0) invert(0.38) !important;
  }

  .social-icon:hover {
    filter: grayscale(0) invert(1) !important;
  }

  .subscribe {
    margin: 3rem 0px 2rem 0px;

    p {
      margin-bottom: 0;
    }

    .footer-end {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }

    form {
      margin: 0;
    }
  }

  input.footer-input {
    padding: 1rem;
    margin-right: 0.25rem;
    width: 20rem;
    height: 3.5rem;
    border: 0.5px solid $white;
    background: transparent;
    border-radius: 0.5rem;
    outline: none;
    color: $white;

    &:focus {
      padding: 1rem;
      margin-right: 0.25rem;
      width: 24rem;
      height: 3.5rem;
      border: 0.5px solid $white;
      background: transparent;
      border-radius: 0.5rem;
      outline-width: 0;
      color: $white;
    }
  }

  .footer-button {
    height: 3.5rem;
    background: $primary;
    color: $white;
    width: 160px;
    border-radius: 0.25rem;
    border: none;
  }

  .footer-hr {
    width: 100%;
    color: $white;
    margin: 0;
  }

  .footer-bottom {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    span {
      margin: 0 0 1rem;
      font-size: 0.8rem;
    }

    a {
      color: $white;
    }
  }

  .footer-bottom-middle {

    @keyframes pulse {
      0% {
        transform: scale(0.9);
      }

      70% {
        transform: scale(1);
        box-shadow: rgba(0, 211, 169, 0) 0px 0px 0px 5px;
      }
      100% {
        transform: scale(0.9);
        box-shadow: rgba(153, 237, 220, 0) 0px 0px 0px 0px;
      }
    }
    .status-link {
      margin-left: 1rem;
      background-color: rgb(72, 72, 72);
      border-radius: 0.75rem;
      padding-inline: 0.4rem;
      padding-block: 0.2rem;
    }
    
    .pulse-icon {
      display: inline-block;
      margin: 0;
      width: 0.62rem;
      height: 0.62rem;
      border: none;
      border-radius: 50%;
      background: $primary;
      box-shadow: rgba(0, 211, 169, 0.5) 0px 0px 0px 0px;
      animation: 1.5s ease 0s infinite normal none running pulse;
    }
    a {
      &:hover {
        color: $primary;
      }
    }

  }

  .footer-bottom-right {
    a{
      &:hover {
        color: $primary;
      }
    }
  }

  .odd-col {
    flex: 1 1 auto;
  }

  .even-col {
    flex: 1 1 auto;
  }


  /* Media Query for Mobile */
  @media (max-width: 490px) {

    padding: 2.5rem 0;
    .footer-info {
      flex-wrap: wrap !important;
    }

    .row {
      padding: 0;
    }

    .footer-h5 {
      font-size: 0.85rem;
    }
    .footer-resources {
      margin: 0;
    }
    .footer-sections {
      padding: 20px !important;
    }
    .footer-icons {
      a {
        margin-bottom: 15px;
      }
    }
    .odd-col {
      flex: 0 0 60%;
    }
    .even-col {
      flex: 0 0 40%;
    }
    .col-lg-3 {
      width: 100% !important;
    }
    .footer-desc {
      padding: 0px 10px 0px 10px !important;
      text-align: center !important;
    }
    .col-lg-9 {
      width: 100% !important;
    }
    .footer-top {
      flex-direction: column-reverse !important;
    }
    .col-lg-6 {
      width: 100% !important;
      text-align: center !important;
    }
    .footer-icons {
      justify-content: center !important;
    }
    .footer-logo {
      padding: 10px 10px 0px 10px !important;
    }
    .subscribe {
      justify-content: center !important;
    }
    input.footer-input {
      width: 13rem !important;
    }
    .footer-button {
      margin-top: 5px;
      width: 7.5rem !important;
    }
    .footer-bottom-right {
      margin: 1.5% !important;
    }
    .footer-bottom-middle {
      padding: 2%;
    }
    .footer-bottom-left {
      padding: 2% !important;
    }
  }

  /* Media Query for low resolution Tablets, Ipads */
  @media (min-width: 489px) and (max-width: 767px) {
    .footer-info {
      flex-wrap: wrap !important;
    }
    .footer-resources {
      margin: 0 !important;
    }
    .footer-sections {
      padding: 20px !important;
    }
    .odd-col {
      flex: 0 0 60%;
    }
    .even-col {
      flex: 0 0 40%;
    }
    .col-lg-3 {
      width: 100% !important;
    }
    .footer-desc {
      padding: 0px 10px 0px 10px !important;
      text-align: center !important;
    }
    .col-lg-9 {
      width: 100% !important;
    }
    .footer-top {
      flex-direction: column-reverse !important;
    }
    .col-lg-6 {
      width: 100% !important;
      text-align: center !important;
    }
    .footer-icons {
      justify-content: center !important;
      a {
        margin-bottom: 15px;
      }
    }
    .footer-logo {
      padding: 10px 10px 0px 10px !important;
    }
    .subscribe {
      justify-content: center !important;
    }
    input.footer-input {
      width: 13rem !important;
    }
    .footer-button {
      margin-top: 5px;
      width: 7.5rem !important;
    }
    .footer-bottom-right {
      margin: 1.5% !important;
    }
    .footer-bottom-middle {
      padding: 2%;
    }
    .footer-bottom-left {
      padding: 2% !important;
    }
  }

  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 850px) {
    .footer-info {
      flex-wrap: wrap !important;
    }
    .footer-resources {
      margin: 0 !important;
    }
    .footer-sections {
      padding: 20px !important;
    }
    .footer-sections a {
      font-weight: 400;
    }
    .odd-col, .even-col {
      flex: 0 1 auto;
      width: auto; /* Adjust the width to auto */
      margin: 0; /* Reset any margin */
      padding: 20px; /* Consistent padding */
    }
    .even-col {
      flex: 0 1 auto;
    }
    .col-lg-3 {
      width: 100% !important;
    }
    .footer-desc {
      padding: 0px 10px 0px 10px !important;
      text-align: center !important;
    }
    .footer-top {
      flex-direction: column-reverse !important;
    }
    .col-lg-6 {
      width: 100% !important;
      text-align: center !important;
    }
    .footer-icons {
      justify-content: center !important;
    }
    .footer-logo {
      padding: 10px 10px 0px 10px !important;
    }
    .subscribe {
      justify-content: center !important;
      margin-top: -8rem;
    }
    .footer-button {
      width: 120px !important;
    }
    .footer-bottom-right {
      margin: 1.5% !important;
    }
    .footer-bottom-middle {
      padding: 2%;
    }
    .footer-bottom-left {
      padding: 2% !important;
    }
  }

}

@media (max-width: 850px){
  .footer .even-col{
    flex: 0 0 40%;
  }

  footer .subscribe{
    margin-top: 0rem !important;
  }
}

@media (max-width: 400px){
  .footer-company{
    margin-left: 5px;
  }
}