.wrapper {
  box-sizing: border-box;
}

.product-section {
  font-family: $font-qanelas;
  display: flex;
  align-items: stretch;
  gap: 20px;
  // margin-top: 6rem;
  @media (max-width:992px){
    justify-content: center;
    flex-wrap: wrap;
  }
  a {
    color: $white;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width:768px){
    flex-wrap: wrap;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-20px {
  gap: 20px;
}


.grow-1 {
  flex-grow: 1;
  a{
    .landing-card{
      @media (max-width:1400px){
        min-height: 100%;
      }
    }
  }
}

.landing-card {
  border-radius: 1rem;
  border: 2px solid #515151;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  text-align: left;
  font-size: 1.25rem;
  min-height: 300px;
  &:hover {
    border: 2px solid $secondary;
    .landing-card-title {
      color: $secondary;
    }
    p {
      color: $white;
    }
  }
  p {
    font-weight: 400;
    color: $casper; 
    margin-top: 0.5rem;
  }
}
.landing-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: $light;
  text-transform: uppercase;
  gap: 20px;
  white-space: wrap;
} 
.playground-section {
  &.playground-logo {
    background-image: url("/images/logos/black-semi-opaque.svg"), url("/images/logos/meshery-light-icon.svg");
  }
  &.video-play-logo {
    background-image: url("/images/logos/black-semi-opaque.svg"), url("/images/video-play.svg");
  }
    &.playground-logo, &.video-play-logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    min-height: 240px;
  }
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  align-content: space-between;
  gap: 20px;
}

.catalog-section {
  &.catalog-logo {
    background-image: url("/images/logos/black-semi-opaque.svg"), url("/images/logos/catalog.svg");
  }
  &.learning-path-logo{
    background-image: url("/images/logos/black-semi-opaque.svg"), url("/images/logos/learning-path.svg");
  }
  &.recognition-program-logo{
    background-image: url("/images/logos/black-semi-opaque.svg"), url("/images/logos/recognition-program.png");
  }
  &.catalog-logo, &.learning-path-logo , &.recognition-program-logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    min-height: 240px;
  }
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  align-content: space-between;
  gap: 20px;
}
.handbook-section {
  display: flex;
  align-items: center;
  background: linear-gradient(112deg, #000 34.88%, rgba(0, 110, 88, 0.82) 92.89%, #000 159.16%);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.handbook-image{
  width: 110%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;

  }
  img{
    box-shadow: -8px 4px 25px 0px rgba(0, 211, 169, 0.50), 0px -8px 25px 0px rgba(0, 211, 169, 0.50);
    border-radius: 20px;
    width: 100%;
  }
  
}
.landing-card-text{
  display: flex;
  line-height: 30px;
  width: 90%;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.forum-image {
  padding: 3.85rem 0 0 1.5rem;
  img {
    box-shadow: -8px 4px 25px 0px rgba(0, 211, 169, 0.50), 0px -8px 25px 0px rgba(0, 211, 169, 0.50);
    border-radius: 20px 0 0 0;
    height: 25.5rem;
    width: auto;
    object-fit: contain;
  }
}

.forum-section {
  border-radius: 1rem;
  border: 2px solid #515151;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: left;
  font-size: 1.25rem;
  height: 100%;
  &:hover {
    border: 2px solid $secondary;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-right: 0;
  padding-bottom: 0;
  max-height: 620px;
  overflow: hidden;
  @media (max-width:1535px){
    max-height: 100%;
  }
}

.playground-card {
  max-width: 351.88px;
  @media (max-width:768px){
    max-width: 100%;
  }
}

.catalog-card {
  max-width: 351.9px;
  @media (max-width:768px){
    max-width: 100%;
  }
}

.handbook-card {
  max-width: 723.78px;
}

.forum-card {
  max-width: 550.78px;

  overflow: hidden;
  @media (max-width:1000px) {
    max-width: 100%;
  }
}


.logo-container {
  width: 50px;
  margin: auto;
  margin-right: .65rem;
}

@media screen and (max-width: 768px) {
  .logo-container {
    display: none;
  }
}

