.wrapper {
  box-sizing: border-box;
}

.product-section {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  a {
    color: $white;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-20px {
  gap: 20px;
}

.grow-1 {
  flex-grow: 1;
}

.landing-card {
  border-radius: 1rem;
  border: 2px solid #515151;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  text-align: left;
  font-size: 1.25rem;
  // aspect-ratio: 3/2;
  min-height: 300px;
  &:hover {
    border: 2px solid $secondary;

  }
}
.product-head {
  font-size: 1.5rem;
  font-weight: 500;
  color: $primary;
  text-transform: uppercase;
  gap: 20px;
  white-space: nowrap;
} 
.playground-section {
  &.playground-logo {
    background-image: url("/images/logos/black-semi-opaque.svg"), url("/images/logos/meshery-light-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  align-content: space-between;
  gap: 20px;
}

.catalog-section {
  &.catalog-logo {
    background-image: url("/images/logos/black-semi-opaque.svg"), url("/images/logos/catalog.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  align-content: space-between;
  gap: 20px;
}
.handbook-section {
  display: flex;
  // flex-basis: 100%;
  // flex: 2;
  background: linear-gradient(112deg, #000 34.88%, rgba(0, 110, 88, 0.82) 92.89%, #000 159.16%);
  flex-direction: row;
  align-items: start;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.handbook-image{
  padding-top:40px;
  width: 110%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;

  }
  img{
    box-shadow: -8px 4px 25px 0px rgba(0, 211, 169, 0.50), 0px -8px 25px 0px rgba(0, 211, 169, 0.50);
    border-radius: 20px;
    width: 100%;
  }
  
}
.handbook-text{
  padding-top:20px;
  display: flex;
  line-height: 30px;
  width: 90%;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.forum-image {
  padding: 1.25rem 1.5rem;
  img {
    box-shadow: -8px 4px 25px 0px rgba(0, 211, 169, 0.50), 0px -8px 25px 0px rgba(0, 211, 169, 0.50);
    border-radius: 20px;
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}

.forum-card {
  border-radius: 1rem;
  border: 2px solid #515151;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  text-align: left;
  font-size: 1.25rem;
  // aspect-ratio: 3/2;
  height: 100%;
  &:hover {
    border: 2px solid $secondary;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.box1 {
  max-width: 351.88px;
}

.box2 {
  max-width: 351.9px;
}

.box3 {
  max-width: 723.78px;
}

.box4 {
  // max-width: 552px;
  max-width: 723.78px;

  overflow: hidden;
}

@media (min-width: 1536px) {
  .box4 {
    max-width: 552px;
  }
}
