.product-section {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  a {
    color: $white;
  }
  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.grid-card {
  border-radius: 1rem;
  border: 2px solid #515151;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  text-align: left;
  font-size: 1.25rem;
  // aspect-ratio: 3/2;
  min-height: 300px;
  &:hover {
    border: 2px solid $secondary;

  }
}
.product-head {
  font-size: 1.5rem;
  font-weight: 500;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}  
.playground-section {
  &.playground-logo {
    background-image: url("/images/logos/black-semi-opaque.svg"), url("/images/logos/meshery-light-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  align-content: space-between;
}

.catalog-section {
  &.catalog-logo {
    background-image: url("/images/logos/black-semi-opaque.svg"), url("/images/logos/catalog.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  align-content: space-between;
}
.handbook-section {
  display: flex;
  grid-column: span 2;
  // flex-basis: 100%;
  // flex: 2;
  background: linear-gradient(112deg, #000 34.88%, rgba(0, 110, 88, 0.82) 92.89%, #000 159.16%);
  flex-direction: row;
  align-items: start;

  @media (max-width: 768px) {
    flex-direction: column;
    grid-column: span 1;
  }
}
.handbook-image{
  width: 150%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;

  }
  img{
    box-shadow: -8px 4px 25px 0px rgba(0, 211, 169, 0.50), 0px -8px 25px 0px rgba(0, 211, 169, 0.50);
    border-radius: 8px;
    width: 100%;
  }
  
}
.handbook-text{
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.forum-section {
  grid-row: span 3;
  overflow: hidden;

  img {
    box-shadow: -8px 4px 25px 0px rgba(0, 211, 169, 0.50), 0px -8px 25px 0px rgba(0, 211, 169, 0.50);
    
    border-radius: 8px;
    height: 18rem;
    min-height: 70%;
   
  }
  @media (max-width: 1000px) {
    grid-column: span 2;
  }
  @media (max-width: 768px) {
    grid-column: span 1;
  }
}
