.navbar-brand {
  width: 280.06px;
  height: 30px;

}

.main-nav-items {
  margin-top: 0.75rem;
}

.nav-link-external {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: $primary;
  background: transparent;
  transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}

.nav-link-external:hover {
  border: 1px solid $primary;
  color: $primary;
  box-shadow: $light 0 0 5px;
  background-color: transparent;
}

.nav-link-external:active {
  box-shadow: $primary 0 0 5px;
  border: 1px solid $secondary;
}