.section-index {
    color: orange;
    .entry {
      padding: 0.75rem;
    }
  
    h5 {
      margin-bottom: 0;
        color: orange;
      a {
        font-weight: 700;
        color: orange;
      }
    }
  
    p {
      margin-top: 0;
    }
  }