@import 'fonts';
@import 'content_project';

.navbar-brand  {
  margin: 1.5rem;
}
.navbar-dark {
  background-color: $black;
}

// Main Body
.td-home {
  background-color: $dark;
}
// .td-cover-block--height-full {
//   min-height: 90vh;
  
// }
.td-outer {
  margin-top: 2rem;
}
.td-content{
  h2 {
    color: $casper;
  }
}
// Code formatting.

.td-content {
  // Inline code
  p code,
  li > code,
  table code {
    color: inherit;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    word-break: normal;
    background-color: rgba($black, 0.05);
    border-radius: $border-radius;

    br {
      display: none;
    }
  }

  // Code blocks
  pre {
    word-wrap: normal;
    background-color: $gray-900;
    padding: $spacer;

    > code {
      background-color: inherit !important;
      padding: 0;
      margin: 0;
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      border: 0;
    }
  }
}

// Links

a {
  color: $primary;
  text-decoration: none; }
  a:hover {
    color: $white; }

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none; }

// Taxonomy 
.taxo-categories {
  margin-top: 2rem;
}
.taxonomy {
// .taxonomy-terms-cloud 

.taxonomy-term {
    background: $gray-600;
    border-width: 0;
    border-radius: 0 3px 3px 0;
    color: $white;
    display: inline-block;
    font-size: 1em;
    line-height: 1.5em;
    min-height: 1.5em;
    max-width: 100%;
    padding: 0 0.5em 0 1em;
    position: relative;
    margin: 0 0.5em 0.2em 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0.8em 100%, 0 50%, 0.8em 0);
    clip-path: polygon(100% 0, 100% 100%, 0.8em 100%, 0 50%, 0.8em 0);
  
    .taxonomy-count {
      color: $dark !important;
    }
    &:hover {
      background-color: $primary;
      color: $white;
  
      .taxonomy-count {
        color: $dark !important;
      }
    }
  
    &:hover::before {
      background: $primary;
    }
  }
  .article-teaser {
    &.card {
      padding: 1em;
      margin-bottom: 1.5em;
      background-color: $dark;
    }
  
    .breadcrumb {
      margin-bottom: 0em;
      font-size: 0.85rem;
    }
  
    .article-meta {
      margin-bottom: 0em;
    }
  }
}


// Footer
.td-footer {
  background-color: $black;
  bottom: 0%;
  width: 100%;
  z-index: 5;

} 


// Left sidebar
.td-sidebar-nav {
  overflow: hidden;

  &__section-title {
    a {
      color: $gray-400;
      font-weight: $font-weight-bold;
    }
  }
  .td-sidebar-link {
    
    &__page {
      color: $gray-400;
      font-weight: $font-weight-light;
    }
    &__section {
      margin-top: 1rem;
      font-family: "Qanelas Soft", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    }
    
  }
  a {
    &:hover {
      color: $white;
      text-decoration: none;
    }
    &.active:not(.tree-root) {
      border: 2px solid $primary !important;
      padding: .25rem;
      padding-left: .5rem !important;
      background-color: rgba($primary, .1);
      color: $secondary;
    }
    &.active.tree-root {
      border: 2px solid $lightslategray !important;
      padding: .25rem;
      padding-left: .5rem !important;
      background-color: rgba($lightslategray, .1);
      color: $white;
    }
  }
}

// Right sidebar
.td-sidebar-toc {
  line-height: 1.25rem;
  border-left: 1px solid $border-color;
  background-color: $td-sidebar-toc-bg-color;
  @supports (position: sticky) {
    position: sticky;
    top: 4rem;
    padding-top: 3rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }
  
}
.td-page-meta {
  a {
    display: block;
    color: $gray-400;
    line-height: 1.65rem;
    font-weight: $font-weight-medium;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  .td-page-meta--project-issue {
    visibility: hidden;
  }
}

.td-toc {
  margin-top: 2rem;
  #TableOfContents {
    > ul > li > ul > li > a {
    }

    a {
      color: $lightslategray;

      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

// pageinfo
.pageinfo {
  font-weight: $font-weight-medium;
  background: $gray-900;
}

// Style alert boxes.

.alert {
  font-weight: $font-weight-medium;
  background: $gray-900;
  color: inherit;
  border-radius: 0;
  
  @each $color, $value in $theme-colors {
    &-#{$color} {
      & .alert-heading {
        color: $value;
      }
      background-color: $gray-900;    
      border-style: solid;
      border-color: $value;
      border-width: 0 0 0 4px;
    }
  }
}

// Dashboard

.l5btn {
  padding: 1.25rem;
  border-radius: 0.75rem;
  border: 4px solid rgba(0, 179, 159, 0.40);
  background: #000;
  color: white;
  & :active {
  background-color: $saffron;
  }
  & :hover {
    color: white !important;
    > img {
      filter: grayscale(100%);
    }
  }
  
  & :focus {
    color: white;
  }

}

.dash-tangle {
  width: 78.14231rem;
  height: 74.72rem;
  transform: rotate(-55.68deg);
  flex-shrink: 0;
  overflow: hidden;
  background-image: linear-gradient(180deg, rgba(0, 179, 115, 0.00) 0%, rgba(0, 179, 159, 0.30) 100%);
  position: absolute; 
  top: -18rem; right:-32rem;
  z-index:-5;
  background-clip: content-box;
  -webkit-background-clip: padding-box;

  
}

.dash-ircle {
  width: 74.125rem; height: 74.125rem; flex-shrink: 0; 
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 179, 159, 0.20) 0%, rgba(0, 179, 159, 0.00) 100%);
  position: absolute; 
  top: 8rem;left:-24rem;
  overflow: hidden;
  background-clip: border-box;

  z-index:-5;
}

@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}


a.dash {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 42px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0px;
  position: absolute;
  width: auto;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  padding:2rem;

  transform: translateX(-50%) translateY(-50%);
}

a.dash:before,
a.dash:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  display: block;
  border: 15px solid $primary;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

a.dash:before {
  border-color: $primary $secondary rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

a.dash:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $primary $secondary;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}
a.dash:hover {
  color: $saffron;
  
}

// Cards
.card {
  background-color: $dark;
}
.card-header .bg-white {
  background-color: $dark;
}
.bg-dark {
  background-color: $dark;
}

