

// Bootstrap options

$enable-gradients: true !default;
$enable-shadows: true !default;

// Theme colors

$primary: #00B39F;
$green: #00B39F;
$secondary: #00D3A9;

$success: #3772ff !default;
$info: #c0e0de !default;
$warning: #ed6a5a !default;
$danger: #ed6a5a;
$light: #d3f3ee;
$dark: #1E2117;
$blonde: #FFF3C5;
$saffron: #EBC017;
$lightslategray: #7A848E;
$casper: #B1B6B8;

// $bg-gradient:#1E2117;
$code-color: shade-color($secondary, 40%) !default;
// $body-bg: linear-gradient(250deg, #477e96 0%, #00b39f 35%, rgb(60, 73, 79) 100%); 
// $bg-gradient-dark: linear-gradient(250deg, #477e96 0%, #00b39f 35%, rgb(60, 73, 79) 100%); 

// Body
$body-color: #ccc;
$body-bg: #010101;

// UI element colors

$border-color: rgba($primary, .33);
$td-sidebar-tree-root-color: #ccc;
$td-sidebar-bg-color: rgba($dark, .33);
$td-sidebar-color: rgba($white, .33);
$td-sidebar-border-color: $border-color;
$td-sidebar-bg-color: rgba($dark,.73);
$td-sidebar-toc-bg-color: rgba($dark,.73);

// Background colors for the sections on home page etc. It is a paint by number
// system, starting at 0, where the number is taken from the shortcode's ordinal
// if not provided by the user. These colors are all part of the theme palette,
// but the mix is fairly random to create variation. This can be overridden by
// the project if needed.
$td-box-colors: $dark, $primary, $secondary, $info, $white, $gray-600, $success,
  $warning, $dark, $danger, $primary, $secondary, $info !default;

$bs-link-color: $danger;
$link-decoration: none !default;
$link-shade-percentage: 30% !default;
$link-color: $white !default;
// Fonts

$td-enable-google-fonts: false;

$google_font_name: "Open Sans" !default;
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i" !default;
$web-font-path: "https://fonts.googleapis.com/css?family=#{$google_font_family}&display=swap";
$font-awesome-font-name: "Font Awesome 6 Free" !default;

$td-fonts-serif: "Qanelas Soft", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@if $td-enable-google-fonts {
  $td-fonts-serif: prepend($td-fonts-serif, "#{$google_font_name}");
}

$font-family-sans-serif: $td-fonts-serif; 
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default; 
$font-family-base: $font-family-sans-serif !default; 
$bs-body-font-family: $td-fonts-serif;

// Font weights

$font-weight-medium: 500 !default; 
$font-weight-body-text: $font-weight-normal !default;

// Heading sizes

$h3-font-size: $font-size-base * 1.5 !default;  
$h4-font-size: $font-size-base * 1.35 !default; 
$h5-font-size: $font-size-base * 1.15 !default; 

// Space

$td-block-space-top-base: 4 * $spacer !default;
$td-block-space-bottom-base: 4 * $spacer !default;

// Pagination

$pagination-color: $gray-600 !default; 
$pagination-disabled-color: $gray-300 !default; 

// Navbar

$navbar-dark-color: rgba($white, 0.75) !default;      // TODO: consider moving into UG SCSS
$navbar-dark-hover-color: rgba($white, 0.35) !default; // TODO: consider moving into UG SCSS

// Footer

$list-inline-padding: $spacer;