{
  "openapi": "3.1.0",
  "info": {
    "title": "Meshery Cloud",
    "description": "Documentation for meshery Cloud REST APIs",
    "contact": {
      "email": "support@layer5.io"
    },
    "version": "v0.6.488"
  },
  "servers": [
    {
      "url": "https://meshery.layer5.io",
      "description": "Meshery Cloud production server URL"
    },
    {
      "url": "https://staging-meshery.layer5.io",
      "description": "Meshery Cloud staging server URL"
    },
    {
      "url": "http://localhost:9876",
      "description": "Meshery Cloud development server URL (controlled via PORT environment variable)"
    }
  ],
  "tags": [
    {
      "name": "users",
      "description": "APIs for users"
    },
    {
      "name": "roles",
      "description": "APIs for user roles"
    },
    {
      "name": "service mesh performance",
      "description": "APIs for Service Mesh Performance Dashboard"
    },
    {
      "name": "service mesh performance results",
      "description": "APIs for Service Mesh Performance results"
    },
    {
      "name": "service mesh interface",
      "description": "APIs for Service Mesh Interface conformace"
    },
    {
      "name": "scheduler",
      "description": "APIs for scheduler"
    },
    {
      "name": "k8s context",
      "description": "APIs for K8s contexts"
    },
    {
      "name": "tokens",
      "description": "APIs for User tokens"
    },
    {
      "name": "credentials",
      "description": "APIs for Credentials"
    },
    {
      "name": "events",
      "description": "APIs for events"
    },
    {
      "name": "capabilities",
      "description": "APIs for remote provider capablities"
    },
    {
      "name": "system",
      "description": "APIs for system"
    },
    {
      "name": "content",
      "description": "APIs for content (patterns, applications, filters)"
    },
    {
      "name": "catalog",
      "description": "APIs for catalog"
    },
    {
      "name": "collaboration",
      "description": "APIs for collaboration"
    },
    {
      "name": "integrations",
      "description": "APIs for integrations"
    },
    {
      "name": "user onboarding",
      "description": "APIs for user onboarding (Signup requests)"
    },
    {
      "name": "organization",
      "description": "APIs related to organization"
    },
    {
      "name": "subscription",
      "description": "APIs related to subscription"
    },
    {
      "name": "plans",
      "description": "APIs related to plans"
    },
    {
      "name": "teams",
      "description": "APIs related to teams"
    },
    {
      "name": "keys",
      "description": "APIs related to keys"
    },
    {
      "name": "key chains",
      "description": "APIs related to key chains"
    },
    {
      "name": "environments",
      "description": "APIs related to environments"
    },
    {
      "name": "workspaces",
      "description": "APIs related to workspaces"
    }
  ],
  "security": [
    {
      "jwt": []
    }
  ],
  "components": {
    "schemas": {
      "user": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/user_id"
          },
          "provider": {
            "$ref": "#/components/schemas/provider"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "first_name": {
            "$ref": "#/components/schemas/text",
            "description": "First Name"
          },
          "last_name": {
            "$ref": "#/components/schemas/text",
            "description": "Last Name"
          },
          "avatar_url": {
            "$ref": "#/components/schemas/avatar_url"
          },
          "status": {
            "$ref": "#/components/schemas/status"
          },
          "bio": {
            "$ref": "#/components/schemas/bio"
          },
          "preferences": {
            "$ref": "#/components/schemas/map_object"
          },
          "accepted_terms_at": {
            "$ref": "#/components/schemas/accepted_terms_at"
          },
          "first_login_time": {
            "$ref": "#/components/schemas/time"
          },
          "last_login_time": {
            "$ref": "#/components/schemas/time"
          },
          "role_names": {
            "$ref": "#/components/schemas/schemas-roleNames"
          },
          "teams": {
            "type": "object",
            "properties": {
              "total_count": {
                "type": "integer"
              },
              "teams_with_roles": {
                "$ref": "#/components/schemas/schemas-teams"
              }
            }
          }
        },
        "required": [
          "id",
          "user_id",
          "provider",
          "email",
          "first_name",
          "last_name",
          "status",
          "created_at",
          "updated_at",
          "last_login_time",
          "deleted_at"
        ]
      },
      "usersPageForAdmin": {
        "allOf": [
          {
            "$ref": "#/components/schemas/recordsPage"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/usersWithRoles"
                }
              }
            }
          }
        ]
      },
      "usersForNonAdmin": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/user_id"
          },
          "username": {
            "$ref": "#/components/schemas/username"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "first_name": {
            "$ref": "#/components/schemas/text",
            "description": "First Name"
          },
          "last_name": {
            "$ref": "#/components/schemas/text",
            "description": "Last Name"
          },
          "prefs": {
            "$ref": "#/components/schemas/email_preference"
          },
          "avatar_url": {
            "$ref": "#/components/schemas/avatar_url"
          },
          "preferences": {
            "$ref": "#/components/schemas/map_object"
          }
        },
        "required": [
          "id",
          "user_id",
          "username",
          "email",
          "first_name",
          "last_name"
        ]
      },
      "teamMembersPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/recordsPage"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/teamMembers"
                }
              }
            }
          }
        ]
      },
      "usersPageForNonAdmin": {
        "allOf": [
          {
            "$ref": "#/components/schemas/recordsPage"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/schemas-usersForNonAdmin"
                }
              }
            }
          }
        ]
      },
      "usersWithRolesForAdmin": {
        "type": "object",
        "$ref": "#/components/schemas/usersWithRoles"
      },
      "role": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "role_name": {
            "$ref": "#/components/schemas/text"
          },
          "description": {
            "$ref": "#/components/schemas/text",
            "description": "Role description"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "performanceProfile": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "schedule": {
            "$ref": "#/components/schemas/id"
          },
          "load_generators": {
            "type": "string"
          },
          "endpoints": {
            "type": "string"
          },
          "service_mesh": {
            "type": "string"
          },
          "concurrent_request": {
            "type": "integer"
          },
          "qps": {
            "type": "integer"
          },
          "duration": {
            "type": "string"
          },
          "last_run": {
            "$ref": "#/components/schemas/time"
          },
          "total_results": {
            "type": "integer"
          },
          "request_headers": {
            "type": "string"
          },
          "request_cookies": {
            "type": "string"
          },
          "request_body": {
            "type": "string"
          },
          "metadata": {
            "type": "map_object"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "performanceProfilePage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "profiles": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/schemas-performanceProfile"
                }
              }
            }
          }
        ]
      },
      "performanceResult": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "test_start_time": {
            "$ref": "#/components/schemas/time"
          },
          "mesh": {
            "type": "string"
          },
          "runner_results": {
            "$ref": "#/components/schemas/map_object"
          },
          "deleted": {
            "type": "boolean"
          },
          "server_metrics": {
            "$ref": "#/components/schemas/map_object"
          },
          "server_board_config": {
            "$ref": "#/components/schemas/map_object"
          },
          "performance_profile": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "mesheryResultPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/schemas-performanceResult"
                }
              }
            }
          }
        ]
      },
      "schedule": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "cron_expression": {
            "type": "string"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "schedulePage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "profiles": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/schemas-schedule"
                }
              }
            }
          }
        ]
      },
      "k8sContext": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "auth": {
            "$ref": "#/components/schemas/map_object"
          },
          "cluster": {
            "$ref": "#/components/schemas/map_object"
          },
          "server": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/id"
          },
          "created_by": {
            "$ref": "#/components/schemas/id"
          },
          "meshery_instance_id": {
            "$ref": "#/components/schemas/id"
          },
          "kubernetes_server_id": {
            "$ref": "#/components/schemas/id"
          },
          "deployment_type": {
            "type": "string"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "k8sContextPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "contexts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/k8sContext"
                }
              }
            }
          }
        ]
      },
      "k8sContextPersistResponse": {
        "properties": {
          "k8sContext": {
            "$ref": "#/components/schemas/schemas-k8sContext"
          },
          "inserted": {
            "type": "boolean"
          }
        }
      },
      "userToken": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "provider": {
            "$ref": "#/components/schemas/provider"
          },
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "purpose": {
            "type": "string"
          },
          "is_oauth": {
            "type": "boolean"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "tokenPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "tokens": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/schemas-userToken"
                }
              }
            }
          }
        ]
      },
      "credential": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "type": {
            "type": "string"
          },
          "secret": {
            "$ref": "#/components/schemas/map_object"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/nullTime"
          }
        }
      },
      "credentialsPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "credential": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/schemas-credential"
                }
              }
            }
          }
        ]
      },
      "smiResult": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "mesh_name": {
            "$ref": "#/components/schemas/text"
          },
          "mesh_version": {
            "$ref": "#/components/schemas/text"
          },
          "cases_passed": {
            "$ref": "#/components/schemas/text"
          },
          "passing_percentage": {
            "$ref": "#/components/schemas/text"
          },
          "status": {
            "$ref": "#/components/schemas/text"
          },
          "more_details": {
            "$ref": "#/components/schemas/detail"
          },
          "test_start_time": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "smiResultPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/schemas-smiResult"
                }
              }
            }
          }
        ]
      },
      "eventTrackerGroupedArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/eventTrackerGrouped"
        }
      },
      "eventsPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/recordsPage"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/eventResult"
                }
              }
            }
          }
        ]
      },
      "eventSummaryPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/recordsPage"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/eventSummary"
                }
              }
            }
          }
        ]
      },
      "recentActivityPage": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "activities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/event"
            }
          }
        }
      },
      "accountOverview": {
        "properties": {
          "k8s_count": {
            "type": "integer"
          },
          "app_count": {
            "type": "integer"
          },
          "pattern_count": {
            "type": "integer"
          }
        }
      },
      "recentUsers": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "first_name": {
            "$ref": "#/components/schemas/text",
            "description": "First Name"
          },
          "last_name": {
            "$ref": "#/components/schemas/text",
            "description": "Last Name"
          },
          "avatar_url": {
            "$ref": "#/components/schemas/avatar_url"
          }
        }
      },
      "recentUsersPage": {
        "properties": {
          "recent_users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/recentUsers"
            }
          }
        }
      },
      "capability": {
        "properties": {
          "provider_type": {
            "$ref": "#/components/schemas/provider",
            "description": "Provider type"
          },
          "package_version": {
            "$ref": "#/components/schemas/text",
            "description": "Package version"
          },
          "package_url": {
            "$ref": "#/components/schemas/text",
            "description": "Package url"
          },
          "provider_name": {
            "$ref": "#/components/schemas/text",
            "description": "Provider name"
          },
          "provider_description": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/text"
            }
          },
          "extensions": {
            "$ref": "#/components/schemas/capabilityExtension"
          },
          "capabilities": {
            "$ref": "#/components/schemas/capabilityGeneralCapability"
          },
          "restrictedAccess": {
            "$ref": "#/components/schemas/restrictedAccess"
          }
        }
      },
      "mesheryPatternResource": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Name"
          },
          "namepace": {
            "$ref": "#/components/schemas/text",
            "description": "Namespace"
          },
          "type": {
            "$ref": "#/components/schemas/text",
            "description": "Type"
          },
          "oam_type": {
            "$ref": "#/components/schemas/text",
            "description": "OAM type"
          },
          "deleted": {
            "type": "boolean"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "mesheryPatternResourcePage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "resources": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/schemas-mesheryPatternResource"
                }
              }
            }
          }
        ]
      },
      "mesheryPattern": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "pattern_file": {
            "$ref": "#/components/schemas/text",
            "description": "Pattern file"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Pattern Name"
          },
          "location": {
            "$ref": "#/components/schemas/map_object"
          },
          "visibility": {
            "$ref": "#/components/schemas/text"
          },
          "source_type": {
            "$ref": "#/components/schemas/text",
            "description": "Source type (K8s manifest, Helm chart, Docker compose, Design)"
          },
          "source_content": {
            "type": "string",
            "format": "byte",
            "description": "Source content"
          },
          "catalog_data": {
            "$ref": "#/components/schemas/map_object"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "mesheryPatternPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "patterns": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/schemas-mesheryPattern"
                }
              }
            }
          }
        ]
      },
      "mesheryDesignPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "designs": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/mesheryPattern"
                }
              }
            }
          }
        ]
      },
      "catalogRequest": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "content_id": {
            "$ref": "#/components/schemas/id"
          },
          "content_name": {
            "$ref": "#/components/schemas/text"
          },
          "content_type": {
            "$ref": "#/components/schemas/catalogContentType",
            "description": "Catalog type (pattern / filter)"
          },
          "first_name": {
            "$ref": "#/components/schemas/text",
            "description": "First Name"
          },
          "last_name": {
            "$ref": "#/components/schemas/text",
            "description": "Last Name"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "status": {
            "$ref": "#/components/schemas/text",
            "description": "Catalog request status (pending / approved / denied)"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "catalogRequestsPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "signup_data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/catalogRequest"
                }
              }
            }
          }
        ]
      },
      "mesheryFilter": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "filter_file": {
            "type": "string",
            "format": "byte",
            "description": "Filter file"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Filter Name"
          },
          "location": {
            "$ref": "#/components/schemas/map_object"
          },
          "visibility": {
            "$ref": "#/components/schemas/text"
          },
          "catalog_data": {
            "$ref": "#/components/schemas/map_object"
          },
          "config": {
            "$ref": "#/components/schemas/text"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "mesheryFilterPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "filters": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/mesheryFilter"
                }
              }
            }
          }
        ]
      },
      "mesheryApplication": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "application_file": {
            "$ref": "#/components/schemas/text",
            "description": "Application file"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Pattern Name"
          },
          "location": {
            "$ref": "#/components/schemas/map_object"
          },
          "visibility": {
            "$ref": "#/components/schemas/text"
          },
          "source_type": {
            "$ref": "#/components/schemas/text",
            "description": "Source type (K8s manifest, Helm chart, Docker compose)"
          },
          "source_content": {
            "type": "string",
            "format": "byte",
            "description": "Source content"
          },
          "catalog_data": {
            "$ref": "#/components/schemas/map_object"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "mesheryApplicationPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "applications": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/schemas-mesheryApplication"
                }
              }
            }
          }
        ]
      },
      "signupRequestsPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "signup_data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/signupData"
                }
              }
            }
          }
        ]
      },
      "mesheryInstance": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Connection id"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Connection name"
          },
          "server_id": {
            "$ref": "#/components/schemas/text",
            "description": "Connected server id"
          },
          "server_version": {
            "$ref": "#/components/schemas/text",
            "description": "Running server version"
          },
          "server_location": {
            "$ref": "#/components/schemas/text"
          },
          "server_build_sha": {
            "$ref": "#/components/schemas/text",
            "description": "Server build SHA"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          },
          "status": {
            "$ref": "#/components/schemas/text",
            "description": "Status"
          }
        }
      },
      "organization": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "country": {
            "$ref": "#/components/schemas/text"
          },
          "region": {
            "$ref": "#/components/schemas/text"
          },
          "owner": {
            "$ref": "#/components/schemas/id",
            "description": "UUID of user who created organization"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        },
        "required": [
          "name"
        ]
      },
      "organizationsPage": {
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "organizations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/availableOrganization"
            }
          }
        }
      },
      "subscription": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "org_ID": {
            "$ref": "#/components/schemas/id"
          },
          "plan_ID": {
            "$ref": "#/components/schemas/id"
          },
          "subscription_status": {
            "$ref": "#/components/schemas/subscriptionStatus"
          },
          "start_date": {
            "$ref": "#/components/schemas/time"
          },
          "end_date": {
            "$ref": "#/components/schemas/time"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "subscriptionsPage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/resultsPage"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/schemas-subscription"
                }
              }
            }
          }
        ]
      },
      "subscriptionPlan": {
        "type": "object",
        "$ref": "#/components/schemas/plan"
      },
      "plan": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/planName"
          },
          "cadence": {
            "$ref": "#/components/schemas/planCadence"
          },
          "price": {
            "type": "integer",
            "format": "int32",
            "$ref": "#/components/schemas/price"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        },
        "required": [
          "name",
          "price",
          "id"
        ]
      },
      "planPage": {
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/plan"
            }
          }
        }
      },
      "team": {
        "type": "object",
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id",
            "description": "Team ID"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Team name"
          },
          "description": {
            "$ref": "#/components/schemas/text",
            "description": "Team description"
          },
          "owner": {
            "$ref": "#/components/schemas/id",
            "description": "Team owner"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "availableTeam": {
        "type": "object",
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id",
            "description": "Team ID"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Team name"
          },
          "description": {
            "$ref": "#/components/schemas/text",
            "description": "Team description"
          },
          "owner": {
            "$ref": "#/components/schemas/text",
            "description": "Team owner"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "teams": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/schemas-team"
        }
      },
      "teamsPage": {
        "$ref": "#/components/schemas/teamPage"
      },
      "users": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/user"
        }
      },
      "roles": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/schemas-role"
        }
      },
      "rolesPage": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "object",
              "$ref": "#/components/schemas/schemas-role"
            }
          }
        }
      },
      "roleNames": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "usersTeamsMapping": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "team_id": {
            "$ref": "#/components/schemas/id"
          },
          "role_id": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "teamsOrganizationsMapping": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "org_id": {
            "$ref": "#/components/schemas/id"
          },
          "team_id": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "usersOrganizationsMapping": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "organization_id": {
            "$ref": "#/components/schemas/id"
          },
          "role_id": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "rolesKeychainsMapping": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "keychain_id": {
            "$ref": "#/components/schemas/id"
          },
          "role_id": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "key": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "subcategory": {
            "$ref": "#/components/schemas/text"
          },
          "function": {
            "$ref": "#/components/schemas/text"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/nullTime"
          },
          "category": {
            "$ref": "#/components/schemas/text"
          },
          "description": {
            "$ref": "#/components/schemas/text"
          },
          "owner": {
            "$ref": "#/components/schemas/id"
          }
        }
      },
      "keysPage": {
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/schemas-key"
            }
          }
        }
      },
      "keychain": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "owner": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/nullTime"
          }
        }
      },
      "keychainFilter": {
        "properties": {
          "roleID": {
            "$ref": "#/components/schemas/id"
          }
        }
      },
      "keychainsPage": {
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "keychains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/schemas-keychain"
            }
          }
        }
      },
      "connection": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "ID"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Connection Name"
          },
          "credential_id": {
            "$ref": "#/components/schemas/id",
            "description": "Credential ID"
          },
          "type": {
            "$ref": "#/components/schemas/text",
            "description": "Connection Type"
          },
          "sub_type": {
            "$ref": "#/components/schemas/text",
            "description": "Connection Subtype"
          },
          "kind": {
            "$ref": "#/components/schemas/text",
            "description": "Connection Kind"
          },
          "metadata": {
            "$ref": "#/components/schemas/map_object"
          },
          "status": {
            "description": "Connection Status",
            "type": "string",
            "enum": [
              "discovered",
              "registered",
              "connected",
              "ignored",
              "maintenance",
              "disconnected",
              "deleted",
              "notfound"
            ]
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "environment": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "description": {
            "$ref": "#/components/schemas/text"
          },
          "organization_id": {
            "$ref": "#/components/schemas/id"
          },
          "owner": {
            "$ref": "#/components/schemas/text"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/nullTime"
          }
        }
      },
      "environmentPage": {
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "environments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/schemas-environment"
            }
          }
        }
      },
      "workspacesEnvironmentsMapping": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "environment_id": {
            "$ref": "#/components/schemas/id"
          },
          "workspace_id": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "workspacesTeamsMapping": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "team_id": {
            "$ref": "#/components/schemas/id"
          },
          "workspace_id": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "workspacesDesignsMapping": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "design_id": {
            "$ref": "#/components/schemas/id"
          },
          "workspace_id": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "workspace": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "description": {
            "$ref": "#/components/schemas/text"
          },
          "organization_id": {
            "$ref": "#/components/schemas/id"
          },
          "owner": {
            "$ref": "#/components/schemas/text"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/nullTime"
          }
        }
      },
      "workspacePage": {
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "environments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/schemas-workspace"
            }
          }
        }
      },
      "connectionPage": {
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "connections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/schemas-connection"
            }
          }
        }
      },
      "connectionsStatusPage": {
        "properties": {
          "connections_status": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/connectionStatusInfo"
            }
          }
        }
      },
      "badgeRequest": {
        "properties": {
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "badges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/text"
            }
          }
        }
      },
      "userKeys": {
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/schemas-key"
            }
          },
          "total_count": {
            "type": "integer"
          }
        }
      },
      "badges": {
        "properties": {
          "badges": {
            "$ref": "#/components/schemas/badgesObject"
          },
          "total_count": {
            "type": "integer"
          }
        }
      },
      "meshmodelCategoriesPage": {
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/meshmodelCategory"
            }
          }
        }
      },
      "meshmodelModelsPage": {
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/meshmodelModel"
            }
          }
        }
      },
      "eventsAggregate": {
        "properties": {
          "audit": {
            "type": "integer",
            "description": "Number of audit events"
          },
          "summary": {
            "type": "integer",
            "description": "Number of summary events"
          }
        }
      },
      "text": {
        "type": "string"
      },
      "email": {
        "type": "string",
        "format": "email",
        "description": "email"
      },
      "id": {
        "type": "string",
        "format": "uuid",
        "x-go-type": "uuid.UUID",
        "x-go-type-import": {
          "path": "github.com/gofrs/uuid"
        },
        "x-oapi-codegen-extra-tags": {
          "db": "id"
        },
        "x-go-name": "ID"
      },
      "time": {
        "type": "string",
        "format": "date-time"
      },
      "schemas-team": {
        "type": "object",
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id",
            "description": "Team ID"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Team name"
          },
          "description": {
            "$ref": "#/components/schemas/text",
            "description": "Team description"
          },
          "owner": {
            "$ref": "#/components/schemas/id",
            "description": "Team owner"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "userInvite": {
        "properties": {
          "first_name": {
            "$ref": "#/components/schemas/text",
            "description": "First Name"
          },
          "last_name": {
            "$ref": "#/components/schemas/text",
            "description": "Last Name"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/schemas-team"
            }
          },
          "team_roles": {
            "type": "array",
            "description": "Team level roles (team admin)",
            "items": {
              "$ref": "#/components/schemas/text"
            }
          },
          "org_roles": {
            "type": "array",
            "description": "Organization level roles (organization admin)",
            "items": {
              "$ref": "#/components/schemas/text"
            }
          },
          "roles": {
            "type": "array",
            "description": "Provider level roles (kanvas, admin, curator)",
            "items": {
              "$ref": "#/components/schemas/text"
            }
          }
        },
        "required": [
          "first_name",
          "last_name",
          "email"
        ]
      },
      "map_object": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "nullTime": {
        "properties": {
          "time": {
            "$ref": "#/components/schemas/time"
          },
          "valid": {
            "type": "boolean"
          }
        }
      },
      "schemas-key": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "subcategory": {
            "$ref": "#/components/schemas/text"
          },
          "function": {
            "$ref": "#/components/schemas/text"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/nullTime"
          },
          "category": {
            "$ref": "#/components/schemas/text"
          },
          "description": {
            "$ref": "#/components/schemas/text"
          },
          "owner": {
            "$ref": "#/components/schemas/id"
          }
        }
      },
      "user_id": {
        "type": "string",
        "description": "user's email or username"
      },
      "provider": {
        "type": "string",
        "description": "One of (meshery-cloud, github, google)"
      },
      "avatar_url": {
        "type": "string",
        "description": "Link for profile picture"
      },
      "status": {
        "type": "string"
      },
      "bio": {
        "type": "string"
      },
      "accepted_terms_at": {
        "type": "string"
      },
      "schemas-roleNames": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "schemas-teams": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/schemas-team"
        }
      },
      "recordsPage": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "recordType": {
            "type": "string"
          }
        }
      },
      "username": {
        "type": "string"
      },
      "email_preference": {
        "type": "object",
        "properties": {
          "welcome_email": {
            "type": "boolean"
          },
          "notify_role_change": {
            "type": "boolean"
          }
        }
      },
      "organizationWithRoles": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "description": {
            "$ref": "#/components/schemas/text"
          },
          "country": {
            "$ref": "#/components/schemas/text"
          },
          "region": {
            "$ref": "#/components/schemas/text"
          },
          "owner": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          },
          "role_names": {
            "$ref": "#/components/schemas/schemas-roleNames"
          }
        }
      },
      "teamsWithRoles": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "description": {
            "$ref": "#/components/schemas/text"
          },
          "owner": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          },
          "role_names": {
            "$ref": "#/components/schemas/schemas-roleNames"
          }
        }
      },
      "usersWithRoles": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/user_id"
          },
          "username": {
            "$ref": "#/components/schemas/username"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "first_name": {
            "$ref": "#/components/schemas/text",
            "description": "First Name"
          },
          "last_name": {
            "$ref": "#/components/schemas/text",
            "description": "Last Name"
          },
          "status": {
            "$ref": "#/components/schemas/status"
          },
          "role_names": {
            "$ref": "#/components/schemas/schemas-roleNames"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "last_login_time": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          },
          "prefs": {
            "$ref": "#/components/schemas/email_preference"
          },
          "avatar_url": {
            "$ref": "#/components/schemas/avatar_url"
          },
          "preferences": {
            "$ref": "#/components/schemas/map_object"
          },
          "organization_with_roles": {
            "$ref": "#/components/schemas/organizationWithRoles"
          },
          "teams_with_roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/teamsWithRoles"
            }
          }
        },
        "required": [
          "id",
          "user_id",
          "username",
          "email",
          "first_name",
          "last_name",
          "status",
          "role_names",
          "created_at",
          "updated_at",
          "last_login_time",
          "deleted_at"
        ]
      },
      "teamMembers": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/user_id"
          },
          "username": {
            "$ref": "#/components/schemas/username"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "first_name": {
            "$ref": "#/components/schemas/text",
            "description": "First Name"
          },
          "last_name": {
            "$ref": "#/components/schemas/text",
            "description": "Last Name"
          },
          "status": {
            "$ref": "#/components/schemas/status"
          },
          "role_names": {
            "$ref": "#/components/schemas/schemas-roleNames"
          },
          "joined_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "last_login_time": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          },
          "prefs": {
            "$ref": "#/components/schemas/email_preference"
          },
          "avatar_url": {
            "$ref": "#/components/schemas/avatar_url"
          }
        },
        "required": [
          "id",
          "user_id",
          "username",
          "email",
          "first_name",
          "last_name",
          "status",
          "role_names",
          "joined_at",
          "updated_at",
          "last_login_time",
          "deleted_at"
        ]
      },
      "schemas-usersForNonAdmin": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/user_id"
          },
          "username": {
            "$ref": "#/components/schemas/username"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "first_name": {
            "$ref": "#/components/schemas/text",
            "description": "First Name"
          },
          "last_name": {
            "$ref": "#/components/schemas/text",
            "description": "Last Name"
          },
          "prefs": {
            "$ref": "#/components/schemas/email_preference"
          },
          "avatar_url": {
            "$ref": "#/components/schemas/avatar_url"
          },
          "preferences": {
            "$ref": "#/components/schemas/map_object"
          }
        },
        "required": [
          "id",
          "user_id",
          "username",
          "email",
          "first_name",
          "last_name"
        ]
      },
      "user_uuid": {
        "type": "string",
        "format": "uuid",
        "x-go-type": "uuid.UUID",
        "x-go-type-import": {
          "path": "github.com/gofrs/uuid"
        },
        "x-oapi-codegen-extra-tags": {
          "db": "user_id"
        },
        "x-go-name": "UserID"
      },
      "system_id": {
        "type": "string",
        "format": "uuid",
        "x-go-type": "uuid.UUID",
        "x-go-type-import": {
          "path": "github.com/gofrs/uuid"
        },
        "x-oapi-codegen-extra-tags": {
          "db": "system_id"
        },
        "x-go-name": "SystemID"
      },
      "operation_id": {
        "type": "string",
        "format": "uuid",
        "x-go-type": "uuid.UUID",
        "x-go-type-import": {
          "path": "github.com/gofrs/uuid"
        },
        "x-oapi-codegen-extra-tags": {
          "db": "operation_id"
        },
        "x-go-name": "OperationID"
      },
      "created_at": {
        "description": "Timestamp when the resource was created.",
        "x-go-type": "time.Time",
        "type": "string",
        "format": "date-time",
        "x-oapi-codegen-extra-tags": {
          "db": "created_at"
        }
      },
      "updated_at": {
        "description": "Timestamp when the resource was updated.",
        "x-go-type": "time.Time",
        "type": "string",
        "format": "date-time",
        "x-oapi-codegen-extra-tags": {
          "db": "updated_at"
        }
      },
      "deleted_at": {
        "description": "Timestamp when the resource was deleted.",
        "x-go-type": "time.Time",
        "type": "string",
        "format": "date-time",
        "x-oapi-codegen-extra-tags": {
          "db": "deleted_at"
        }
      },
      "event": {
        "description": "Defines model for event_trackers",
        "properties": {
          "id": {
            "description": "UUID of the event.\n",
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/user_uuid",
            "description": "UUID of the user that initiated the event. In most cases this would be present, but not always.\n"
          },
          "system_id": {
            "description": "The system from which the request is sourced. In the case of Meshery Server, \nthe ID is meshery_instance_id of Meshery Server (which can be found in the metadata of`Connections` table).\n",
            "$ref": "#/components/schemas/system_id"
          },
          "operation_id": {
            "description": "Each Event will have a OperationID. This field is never NULL, which is to say an operation can result in series of events, for eg: Different stages of Pattern Engine / activities of Workflow engine. Each operation (and sub-operation) will have a different operation ID.  \n",
            "$ref": "#/components/schemas/operation_id"
          },
          "category": {
            "description": "Resource name on which the operation is invoked.\n",
            "type": "string",
            "example": "pattern",
            "x-oapi-codegen-extra-tags": {
              "db": "category"
            }
          },
          "action": {
            "description": "Action taken on the resource.\n",
            "type": "string",
            "example": "deployed",
            "x-oapi-codegen-extra-tags": {
              "db": "action"
            }
          },
          "status": {
            "description": "Status for the event. \n",
            "type": "string",
            "enum": [
              "read",
              "unread"
            ],
            "x-oapi-codegen-extra-tags": {
              "db": "status"
            }
          },
          "acted_upon": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the entity on which the event was performed.\n",
            "example": "110020-123230-434231-000213",
            "x-go-type": "uuid.UUID",
            "x-oapi-codegen-extra-tags": {
              "db": "acted_upon"
            }
          },
          "description": {
            "description": "A summary/receipt of event that occured.\n",
            "type": "string",
            "example": "“Prometheus” pattern deployed in K8s ctx “Meshery Cloud”.",
            "x-oapi-codegen-extra-tags": {
              "db": "description"
            }
          },
          "severity": {
            "description": "A set of seven standard event levels.\n",
            "type": "string",
            "enum": [
              "emergency",
              "critical",
              "alert",
              "error",
              "warning",
              "debug",
              "informational",
              "success"
            ],
            "example": "info",
            "x-oapi-codegen-extra-tags": {
              "db": "severity"
            }
          },
          "metadata": {
            "description": "Contains meaningful information, specific to the type of event.\nStructure of metadata can be different for different events.\n",
            "type": "object",
            "x-go-type": "[]byte",
            "x-oapi-codegen-extra-tags": {
              "db": "metadata"
            }
          },
          "created_at": {
            "$ref": "#/components/schemas/created_at"
          },
          "updated_at": {
            "$ref": "#/components/schemas/updated_at"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/deleted_at"
          }
        },
        "required": [
          "id",
          "system_id",
          "operation_id",
          "category",
          "action",
          "status",
          "acted_upon",
          "description",
          "severity",
          "metadata",
          "created_at",
          "updated_at"
        ]
      },
      "roleHolderRequest": {
        "type": "object",
        "properties": {
          "role_names": {
            "$ref": "#/components/schemas/schemas-roleNames"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          }
        },
        "required": [
          "role_names",
          "email"
        ]
      },
      "schemas-role": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "role_name": {
            "$ref": "#/components/schemas/text"
          },
          "description": {
            "$ref": "#/components/schemas/text",
            "description": "Role description"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "schemas-keychain": {
        "properties": {
          "ID": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "owner": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/nullTime"
          }
        }
      },
      "resultsPage": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "resultType": {
            "type": "string"
          }
        }
      },
      "schemas-performanceProfile": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "schedule": {
            "$ref": "#/components/schemas/id"
          },
          "load_generators": {
            "type": "string"
          },
          "endpoints": {
            "type": "string"
          },
          "service_mesh": {
            "type": "string"
          },
          "concurrent_request": {
            "type": "integer"
          },
          "qps": {
            "type": "integer"
          },
          "duration": {
            "type": "string"
          },
          "last_run": {
            "$ref": "#/components/schemas/time"
          },
          "total_results": {
            "type": "integer"
          },
          "request_headers": {
            "type": "string"
          },
          "request_cookies": {
            "type": "string"
          },
          "request_body": {
            "type": "string"
          },
          "metadata": {
            "type": "map_object"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "schemas-performanceResult": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "test_start_time": {
            "$ref": "#/components/schemas/time"
          },
          "mesh": {
            "type": "string"
          },
          "runner_results": {
            "$ref": "#/components/schemas/map_object"
          },
          "deleted": {
            "type": "boolean"
          },
          "server_metrics": {
            "$ref": "#/components/schemas/map_object"
          },
          "server_board_config": {
            "$ref": "#/components/schemas/map_object"
          },
          "performance_profile": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "schemas-schedule": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "cron_expression": {
            "type": "string"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "schemas-userToken": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "provider": {
            "$ref": "#/components/schemas/provider"
          },
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "purpose": {
            "type": "string"
          },
          "is_oauth": {
            "type": "boolean"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "schemas-credential": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "type": {
            "type": "string"
          },
          "secret": {
            "$ref": "#/components/schemas/map_object"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/nullTime"
          }
        }
      },
      "detail": {
        "properties": {
          "smi_specification": {
            "$ref": "#/components/schemas/text"
          },
          "smi_version": {
            "$ref": "#/components/schemas/text"
          },
          "time": {
            "$ref": "#/components/schemas/text"
          },
          "assertions": {
            "$ref": "#/components/schemas/text"
          },
          "result": {
            "$ref": "#/components/schemas/text"
          },
          "reason": {
            "$ref": "#/components/schemas/text"
          },
          "capability": {
            "$ref": "#/components/schemas/text"
          },
          "status": {
            "$ref": "#/components/schemas/text"
          }
        }
      },
      "schemas-smiResult": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "mesh_name": {
            "$ref": "#/components/schemas/text"
          },
          "mesh_version": {
            "$ref": "#/components/schemas/text"
          },
          "cases_passed": {
            "$ref": "#/components/schemas/text"
          },
          "passing_percentage": {
            "$ref": "#/components/schemas/text"
          },
          "status": {
            "$ref": "#/components/schemas/text"
          },
          "more_details": {
            "$ref": "#/components/schemas/detail"
          },
          "test_start_time": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "eventTrackerGrouped": {
        "properties": {
          "count": {
            "type": "integer"
          },
          "event_type": {
            "$ref": "#/components/schemas/text"
          },
          "dt": {
            "$ref": "#/components/schemas/time"
          },
          "week": {
            "$ref": "#/components/schemas/text"
          },
          "month": {
            "$ref": "#/components/schemas/text"
          },
          "year": {
            "$ref": "#/components/schemas/text"
          }
        }
      },
      "events_filter": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "category": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "action": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "severity": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "sort_on": {
            "type": "string",
            "description": "Field on which records are sorted"
          },
          "order": {
            "type": "string",
            "description": "order of sort asc/desc, default is asc"
          }
        },
        "required": [
          "provider",
          "category",
          "action",
          "severity",
          "limit",
          "offset",
          "sort_on",
          "order"
        ]
      },
      "eventResult": {
        "description": "Defines model for event_result",
        "properties": {
          "user_id": {
            "$ref": "#/components/schemas/user_uuid",
            "description": "UUID of the user that initiated the event. In most cases this would be present, but not always.\n"
          },
          "system_id": {
            "description": "The system from which the request is sourced. In the case of Meshery Server, \nthe ID is meshery_instance_id of Meshery Server (which can be found in the metadata of`Connections` table).\n",
            "$ref": "#/components/schemas/system_id"
          },
          "category": {
            "description": "Resource name on which the operation is invoked.\n",
            "type": "string",
            "example": "pattern",
            "x-oapi-codegen-extra-tags": {
              "db": "category"
            }
          },
          "action": {
            "description": "Action taken on the resource.\n",
            "type": "string",
            "example": "deployed",
            "x-oapi-codegen-extra-tags": {
              "db": "action"
            }
          },
          "description": {
            "description": "A summary/receipt of event that occured.\n",
            "type": "string",
            "example": "“Prometheus” pattern deployed in K8s ctx “Meshery Cloud”.",
            "x-oapi-codegen-extra-tags": {
              "db": "description"
            }
          },
          "first_name": {
            "description": "First name of the user that initiated the event.",
            "type": "string"
          },
          "last_name": {
            "description": "Last name of the user that initiated the event.",
            "type": "string"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "provider": {
            "$ref": "#/components/schemas/provider"
          },
          "created_at": {
            "$ref": "#/components/schemas/created_at"
          }
        }
      },
      "eventSummary": {
        "properties": {
          "user_id": {
            "type": "string",
            "description": "user's email or username"
          },
          "provider": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string",
            "description": "First Name"
          },
          "last_name": {
            "type": "string",
            "description": "Last Name"
          },
          "activity_count": {
            "type": "integer"
          },
          "login_count": {
            "type": "integer"
          },
          "signup_count": {
            "type": "integer"
          },
          "perf_results_count": {
            "type": "integer"
          },
          "smi_results_count": {
            "type": "integer"
          },
          "meshery_apps_count": {
            "type": "integer"
          },
          "meshery_patterns_count": {
            "type": "integer"
          },
          "meshery_filters_count": {
            "type": "integer"
          },
          "last_login_time": {
            "type": "string",
            "format": "data-time",
            "x-go-type": "time.Time"
          }
        },
        "required": [
          "user_id",
          "provider",
          "email",
          "first_name",
          "last_name",
          "activity_count",
          "login_count",
          "signup_count",
          "perf_results_count",
          "smi_results_count",
          "meshery_apps_count",
          "meshery_patterns_count",
          "meshery_filters_count",
          "last_login_time"
        ]
      },
      "capabilityNavigatorExtension": {
        "properties": {
          "title": {
            "$ref": "#/components/schemas/text",
            "description": "Title"
          },
          "on_click_callback": {
            "type": "integer"
          },
          "href": {
            "properties": {
              "uri": {
                "type": "string",
                "format": "uri"
              },
              "external": {
                "type": "boolean"
              }
            }
          },
          "component": {
            "$ref": "#/components/schemas/text",
            "description": "Component"
          },
          "icon": {
            "$ref": "#/components/schemas/text",
            "description": "Icon link"
          },
          "link": {
            "$ref": "#/components/schemas/text",
            "description": "link",
            "format": "uri"
          },
          "show": {
            "type": "boolean",
            "description": "Controls whether to show the extension or not"
          },
          "isBeta": {
            "type": "boolean",
            "description": "Controls whether to show the isBeta label or not on title"
          },
          "type": {
            "$ref": "#/components/schemas/text",
            "description": "Extension type"
          },
          "allowedTo": {
            "type": "object"
          }
        }
      },
      "capabilityUserPrefExtension": {
        "properties": {
          "component": {
            "$ref": "#/components/schemas/text",
            "description": "Component"
          },
          "type": {
            "$ref": "#/components/schemas/text",
            "description": "Extension type"
          }
        }
      },
      "capabilityGraphQLExtension": {
        "properties": {
          "component": {
            "$ref": "#/components/schemas/text",
            "description": "Component"
          },
          "path": {
            "$ref": "#/components/schemas/text",
            "description": "Path"
          },
          "type": {
            "$ref": "#/components/schemas/text",
            "description": "Extension type"
          }
        }
      },
      "capabilitiesAccountExtension": {
        "properties": {
          "title": {
            "$ref": "#/components/schemas/text",
            "description": "Title"
          },
          "on_click_callback": {
            "type": "integer"
          },
          "href": {
            "properties": {
              "uri": {
                "type": "string",
                "format": "uri"
              },
              "external": {
                "type": "boolean"
              }
            }
          },
          "component": {
            "$ref": "#/components/schemas/text",
            "description": "Component"
          },
          "link": {
            "$ref": "#/components/schemas/text",
            "description": "link",
            "format": "uri"
          },
          "show": {
            "type": "boolean",
            "description": "Controls whether to show the extension or not"
          },
          "type": {
            "$ref": "#/components/schemas/text",
            "description": "Extension type"
          }
        }
      },
      "capabilityCollaboratorsExtension": {
        "properties": {
          "component": {
            "$ref": "#/components/schemas/text",
            "description": "Component"
          },
          "type": {
            "$ref": "#/components/schemas/text",
            "description": "Extension type"
          }
        }
      },
      "capabilityExtension": {
        "properties": {
          "navigator": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/capabilityNavigatorExtension"
            }
          },
          "user_prefs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/capabilityUserPrefExtension"
            }
          },
          "graphql": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/capabilityGraphQLExtension"
            }
          },
          "account": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/capabilitiesAccountExtension"
            }
          },
          "collaborator": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/capabilityCollaboratorsExtension"
            }
          }
        }
      },
      "capabilityGeneralCapability": {
        "properties": {
          "feature": {
            "$ref": "#/components/schemas/text",
            "description": "Feature name"
          },
          "endpoint": {
            "$ref": "#/components/schemas/text"
          }
        }
      },
      "restrictedAccess": {
        "properties": {
          "isMesheryUIRestricted": {
            "type": "boolean"
          },
          "allowedComponents": {
            "properties": {
              "navigator": {
                "type": "object"
              },
              "header": {
                "type": "object"
              }
            }
          }
        }
      },
      "schemas-mesheryPatternResource": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Name"
          },
          "namepace": {
            "$ref": "#/components/schemas/text",
            "description": "Namespace"
          },
          "type": {
            "$ref": "#/components/schemas/text",
            "description": "Type"
          },
          "oam_type": {
            "$ref": "#/components/schemas/text",
            "description": "OAM type"
          },
          "deleted": {
            "type": "boolean"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "source_content": {
        "type": "string",
        "format": "byte",
        "description": "Source content"
      },
      "schemas-mesheryPattern": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "pattern_file": {
            "$ref": "#/components/schemas/text",
            "description": "Pattern file"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Pattern Name"
          },
          "location": {
            "$ref": "#/components/schemas/map_object"
          },
          "visibility": {
            "$ref": "#/components/schemas/text"
          },
          "source_type": {
            "$ref": "#/components/schemas/text",
            "description": "Source type (K8s manifest, Helm chart, Docker compose, Design)"
          },
          "source_content": {
            "type": "string",
            "format": "byte",
            "description": "Source content"
          },
          "catalog_data": {
            "$ref": "#/components/schemas/map_object"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "mesheryPatternRequestBody": {
        "properties": {
          "url": {
            "$ref": "#/components/schemas/text"
          },
          "path": {
            "$ref": "#/components/schemas/text"
          },
          "save": {
            "type": "boolean"
          },
          "pattern_data": {
            "$ref": "#/components/schemas/schemas-mesheryPattern"
          }
        }
      },
      "deletePatternModel": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Pattern name"
          }
        }
      },
      "mesheryPatternDeleteRequestBody": {
        "properties": {
          "patterns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deletePatternModel"
            }
          }
        }
      },
      "catalogContentType": {
        "type": "string",
        "enum": [
          "pattern",
          "filter"
        ]
      },
      "mesheryCatalogRequestBody": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "catalog_type": {
            "$ref": "#/components/schemas/catalogContentType",
            "description": "Catalog type (pattern / filter)"
          },
          "catalog_data": {
            "$ref": "#/components/schemas/map_object"
          }
        }
      },
      "mesheryFilterRequestBody": {
        "properties": {
          "url": {
            "$ref": "#/components/schemas/text"
          },
          "path": {
            "$ref": "#/components/schemas/text"
          },
          "save": {
            "type": "boolean"
          },
          "filter_data": {
            "$ref": "#/components/schemas/mesheryFilter"
          }
        }
      },
      "emails": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/email"
        }
      },
      "designShare": {
        "properties": {
          "emails": {
            "$ref": "#/components/schemas/emails"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "content_type": {
            "type": "string"
          },
          "share": {
            "type": "boolean"
          }
        },
        "required": [
          "emails",
          "id",
          "contentType",
          "share"
        ]
      },
      "filter_file": {
        "type": "string",
        "format": "byte",
        "description": "Filter file"
      },
      "schemas-mesheryApplication": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "application_file": {
            "$ref": "#/components/schemas/text",
            "description": "Application file"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Pattern Name"
          },
          "location": {
            "$ref": "#/components/schemas/map_object"
          },
          "visibility": {
            "$ref": "#/components/schemas/text"
          },
          "source_type": {
            "$ref": "#/components/schemas/text",
            "description": "Source type (K8s manifest, Helm chart, Docker compose)"
          },
          "source_content": {
            "type": "string",
            "format": "byte",
            "description": "Source content"
          },
          "catalog_data": {
            "$ref": "#/components/schemas/map_object"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "mesheryApplicationRequestBody": {
        "properties": {
          "url": {
            "$ref": "#/components/schemas/text"
          },
          "path": {
            "$ref": "#/components/schemas/text"
          },
          "save": {
            "type": "boolean"
          },
          "application_data": {
            "$ref": "#/components/schemas/schemas-mesheryApplication"
          },
          "source_type": {
            "$ref": "#/components/schemas/text",
            "description": "Source type (K8s manifest, Helm chart, Docker compose)"
          }
        }
      },
      "signupData": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "first_name": {
            "$ref": "#/components/schemas/text",
            "description": "First Name"
          },
          "last_name": {
            "$ref": "#/components/schemas/text",
            "description": "Last Name"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "occupation": {
            "$ref": "#/components/schemas/text",
            "description": "Occupation"
          },
          "organization": {
            "$ref": "#/components/schemas/text",
            "description": "Organization"
          },
          "role": {
            "$ref": "#/components/schemas/text",
            "description": "Role in organization"
          },
          "form_type": {
            "$ref": "#/components/schemas/text",
            "description": "Form Type (Kanvas or Playground)"
          },
          "status": {
            "$ref": "#/components/schemas/text",
            "description": "Status (approved / denied)"
          },
          "task_id": {
            "$ref": "#/components/schemas/text",
            "description": "ClickUp task id"
          },
          "task_link": {
            "$ref": "#/components/schemas/text",
            "description": "ClickUp task link"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "schemas-connection": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "ID"
          },
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Connection Name"
          },
          "credential_id": {
            "$ref": "#/components/schemas/id",
            "description": "Credential ID"
          },
          "type": {
            "$ref": "#/components/schemas/text",
            "description": "Connection Type"
          },
          "sub_type": {
            "$ref": "#/components/schemas/text",
            "description": "Connection Subtype"
          },
          "kind": {
            "$ref": "#/components/schemas/text",
            "description": "Connection Kind"
          },
          "metadata": {
            "$ref": "#/components/schemas/map_object"
          },
          "status": {
            "description": "Connection Status",
            "type": "string",
            "enum": [
              "discovered",
              "registered",
              "connected",
              "ignored",
              "maintenance",
              "disconnected",
              "deleted",
              "notfound"
            ]
          },
          "user_id": {
            "$ref": "#/components/schemas/id"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "connectionPayload": {
        "properties": {
          "name": {
            "$ref": "#/components/schemas/text",
            "description": "Name"
          },
          "kind": {
            "$ref": "#/components/schemas/text",
            "description": "Kind"
          },
          "type": {
            "$ref": "#/components/schemas/text",
            "description": "Connection type"
          },
          "sub_type": {
            "$ref": "#/components/schemas/text",
            "description": "Connection subtype"
          },
          "credential_secret": {
            "$ref": "#/components/schemas/map_object"
          },
          "metadata": {
            "$ref": "#/components/schemas/map_object"
          },
          "status": {
            "$ref": "#/components/schemas/text",
            "description": "Status of the connection"
          }
        }
      },
      "connectionStatusInfo": {
        "properties": {
          "status": {
            "$ref": "#/components/schemas/text",
            "description": "Connection status"
          },
          "count": {
            "type": "integer",
            "description": "Number of connections having the status"
          }
        }
      },
      "meshmodelModel": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "$ref": "#/components/schemas/text"
          },
          "version": {
            "$ref": "#/components/schemas/text"
          },
          "display_name": {
            "$ref": "#/components/schemas/text"
          },
          "category_id": {
            "$ref": "#/components/schemas/id"
          },
          "metadata": {
            "$ref": "#/components/schemas/map_object"
          },
          "created_at": {
            "$ref": "#/components/schemas/time"
          },
          "updated_at": {
            "$ref": "#/components/schemas/time"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/nullTime"
          }
        }
      },
      "meshmodelCategory": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
[...]
