{{ $currentPage := .Page.Permalink }}
{{ $features := .Site.Data.feature_data }}
{{ if not $features }}
{{ $features = getJSON "feature_data.json" }}
{{ end }}

{{ $currentPage := .Page.Permalink }}

{{ if $features }}
{{ range $features }}
{{ $docUrl := .docs | default "" }}
{{ $cleanDocUrl := (index (split $docUrl "#") 0) }}
{{ $currentPagePath := path.Clean (urls.Parse $currentPage).Path }}
{{ $cleanDocUrlPath := path.Clean (urls.Parse $cleanDocUrl).Path }}

{{ if and (ne $docUrl "") (eq $cleanDocUrlPath $currentPagePath) }}
{{ $tiers := slice }}

{{ if .comparisonTiers.free }}
{{ $tiers = $tiers | append "Free" }}
{{ end }}

{{ if .comparisonTiers.teamDesigner }}
{{ $tiers = $tiers | append "Team Designer" }}
{{ end }}

{{ if .comparisonTiers.teamOperator }}
{{ $tiers = $tiers | append "Team Operator" }}
{{ end }}

{{ if .comparisonTiers.enterprise }}
{{ $tiers = $tiers | append "Enterprise" }}
{{ end }}

{{ if len $tiers }}
<div class="matterinfo">
  <div class="plan-support all-plans">
    <img src="/images/subscription.svg" alt="Icon" class="support-icon adaptive-icon" data-modal="false">
    Subscription: <a href="https://layer5.io/pricing" class="tier-link" target="_blank">
      <span class="tier">{{ delimit $tiers ", " }}</span>
    </a>
  </div>
</div>
{{ end }}
{{ end }}
{{ end }}
{{ end }}