<style>
  #searchKey {
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #cccccc;
    border-radius: 6px;
    margin: 0px;
  }
</style>
<script>
  function focusSearchBar() {
    var searchBar = document.querySelector(".td-search-input");
    if (searchBar) {
      searchBar.focus();
    }
  }

  document.addEventListener("keydown", function (event) {
    if (event.key === "/") {
      event.preventDefault();
      focusSearchBar();
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    var searchKey = document.createElement("div");
    searchKey.id = "searchKey";

    var searchElement = document.querySelector(".td-search-input");
    if (searchElement) {
      searchElement.appendChild(searchKey);
    }

    var inputElement = document.querySelector(".td-search-input");
    if (inputElement) {
      inputElement.placeholder = "Search";
    }
  });
</script>