<style>
  /* #searchKey {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #cccccc;
    border-radius: 6px;
    margin: 0px;
  } */
</style>
<link rel="stylesheet" href="https://unpkg.com/keyboard-css@1.2.4/dist/css/main.min.css" />
<script>

  searchKey.addEventListener('mousedown', () =>{
      event.preventDefault();
      focusSearchBar();
  });

  document.addEventListener("DOMContentLoaded", function () {

    var searchKey = document.getElementById("searchKey");
    if (searchKey) {
      searchBar.focus();
    }
    var searchElement = document.querySelector(".td-search-input");
    if (searchElement) {
      searchElement.appendChild(searchKey);
    }

    var inputElement = document.querySelector(".td-search-input");
    if (inputElement) {
      inputElement.placeholder = "Search";
    }
  });
</script>