<style>
  /* #searchKey {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #cccccc;
    border-radius: 6px;
    margin: 0px;
  } */
</style>
<link
  rel="stylesheet"
  href="https://unpkg.com/keyboard-css@1.2.4/dist/css/main.min.css"
/>
<script>
   function focusSearchBar (){
    var searchBar = document.querySelector(".td-search__input");
    searchBar.focus();
  } 

  document.addEventListener("DOMContentLoaded", function () {
    var searchKey = document.getElementById("searchKey");
    if (searchKey) {
      searchKey.addEventListener("click", (event) => {
        event.preventDefault();
        focusSearchBar();
      });
      
      var searchBar = document.querySelector(".td-search__input");
      if (searchBar) {
        searchBar.focus();
      }
      
      var searchElement = document.querySelector(".td-search__input");
      if (searchElement) {
        searchElement.appendChild(searchKey);
      }
    }

    var inputElement = document.querySelector(".td-search__input");
    if (inputElement) {
      inputElement.placeholder = "Search";
    }
  });
</script>
