<div class="section-index">
    {{ $page := .Page -}}
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight -}}
    {{ $pages = (where $pages "Type" "!=" "search") }}
    {{ $pages = (where $pages ".Params.hide_summary" "!=" true) -}}
    {{ $pages = (where $pages ".Parent" "!=" nil) -}}
    {{ $pages = (where $pages ".Parent.File" "!=" nil) -}}
    {{ if $page.File -}}
        {{ $pages = (where $pages "Parent.File.UniqueID" "==" $page.File.UniqueID) -}}
    {{ end -}}
    {{ if or $page.Params.no_list (eq (len $pages) 0) -}}
    {{/* If no_list is true or we don't have subpages we don't show a list of subpages */}}
    {{ else if $page.Params.simple_list -}}
    {{/* If simple_list is true we show a bulleted list of subpages */}}
        <ul>
            {{ range $pages -}}
                {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
                <li><a href="{{ $manualLink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>{{- .Title -}}</a></li>
            {{ end -}}
        </ul>
    {{ else if $page.Params.videoGrid -}}
    <div class="container">
    <div class="row">

        {{ $currentPage := . }}
            
            {{ $videoPages := slice }}
            
            {{ if .File }}
                <!-- {{/* get videos directly inside this section */}} 
                 
                -->
                {{ $directChildren := (where .Pages "Kind" "page") }}
                {{ $videoPages = $videoPages | append $directChildren }}
                
                <!-- {{/* get videos from immediate sub sections */}} -->
                {{ range .Sections }}
                    {{ $subpages := (where .Pages "Kind" "page") }}
                    {{ $videoPages = $videoPages | append $subpages }}
                {{ end }}
            {{ end }}

        {{ range $videoPages -}}
           {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
            <a href="{{ $manualLink }}"
              {{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}
              {{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }} class="col-md-4 mb-4">
            <!-- <div > -->
                <div class="video card h-100 bg-dark text-white border border-secondary shadow-lg  p-1">
                    <div class="video-container position-relative" style="height: max-content; overflow: hidden;">
                        {{ if .Params.videoType }}
                            {{ if eq .Params.videoType "local" }}
                                <video 
                                    src="{{ .Params.src }}" 
                                    class="card-img-top w-100 h-100 object-fit-cover" 
                                    {{ if .Params.muted }}muted{{ end }} 
                                    {{ if .Params.autoplay }}autoplay{{ end }} 
                                    {{ if .Params.loop }}loop{{ end }}
                                    controls
                                ></video>
                            {{ else if eq .Params.videoType "youtube" }}
                                <div class="ratio ratio-16x9 h-100">
                                    {{ if .Params.videoId }}
                                    <img src="https://i.ytimg.com/vi/{{ .Params.videoId }}/maxresdefault.jpg" alt="{{ .Title }}" />
                                    {{ else }}
                                    <img src="/images/video-placeholder-thumbnail.jpg" alt="{{ .Title }}">
                                    {{ end }}
                                    <!-- <iframe 
                                        src="https://www.youtube.com/embed/{{ .Params.videoId }}" 
                                        title="{{ .Title }}" 
                                        frameborder="0" 
                                        class="w-100 h-100"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                        allowfullscreen
                                    ></iframe> -->
                                </div>
                            {{ end }}
                            <div class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-overlay">
                                <div class="videobtn-wrapper position-absolute top-50 start-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 60">
                                        <path class="play-icon-path" d="M39.5298 29.028L21.7045 39.395C21.6471 39.4284 21.5893 39.4603 21.5311 39.4908C20.9134 39.8161 20.2107 40 19.4654 40C16.9992 40 15 37.9861 15 35.5018V14.5102C15 13.6377 15.2466 12.8233 15.6734 12.1337C16.9369 10.0722 19.6075 9.38388 21.7044 10.6034L39.5291 20.97C40.2869 21.3504 40.9459 21.9517 41.401 22.7457C41.811 23.4611 42.0038 24.2428 41.9999 25.0133C41.999 25.7747 41.806 26.5461 41.4009 27.2527C40.9461 28.0464 40.2873 28.6476 39.5298 29.028Z"/>
                                    </svg>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                    
                    <div class="video card-body">
                        <h5 class="video card-title">{{ .Title }}</h5>
                        <p class="video card-text">{{ .Description }}</p>
                    </div>
                </div>
            <!-- </div> -->
        </a>
        {{ end -}}
    </div>
</div>
    {{ else -}}
    {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
    <hr class="panel-line">
        {{ range $pages -}}
            {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) -}}
            <div class="entry">
                <h5>
                    <a href="{{ $manualLink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>{{- .Title -}}</a>
                </h5>
                <p>{{ .Description | markdownify -}}</p>
            </div>
        {{ end -}}
    {{ end -}}
</div>
