openapi: 3.0.0
info:
  title: Meshery Cloud
  description: Documentation for Meshery Cloud REST APIs.
  version: v1.3.34
  contact:
    name: Meshery Maintainers
    email: maintainers@meshery.io
    url: https://meshery.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)
tags:
  - name: Meshery_Controllers_Configuration_controllers
    description: APIs for configuring Meshery Operator, MeshSync, and Meshery Broker.
  - name: Evaluation_Evaluation
    description: Operations related to design evaluation
  - name: Feature_Features
    description: Operations related to features and entitlements
  - name: Registry_Registry
    description: Operations on Meshery's capabilities registry.
  - name: Support_Support
    description: Operations related to help and support requests
  - name: System_API_System
    description: Operational endpoints for Meshery Server.
  - name: Badge_Badge
    description: Operations related to user and organization badges.
  - name: credential_credentials
    description: Operations related to integration credentials
  - name: Key_Key
    description: Operations related to authorization keys
  - name: Key_users
    description: Operations related to users and their authorization keys
  - name: Keychain_Keychain
    description: Operations related to keychains
  - name: Model_Models
    description: Operations related to mesh models
  - name: Organization_Organizations
    description: Operations related to organization management
  - name: role_roles
    description: Operations related to roles and role assignments
  - name: schedule_scheduler
    description: Operations related to scheduled tasks
  - name: Team_teams
    description: >-
      A Team is a group of one or more users. Teams are used for assigning permissions in organizations and workspaces.
      Learn more at https://docs.meshery.io/concepts/logical/teams
  - name: User_users
    description: Operations related to users
  - name: View_views
    description: APIs for managing Meshery views.
  - name: Academy_API_Academy
    description: Operations related to Meshery Academy content and curriculum
  - name: Design_designs
    description: Operations related to designs and infrastructure patterns
  - name: Environment_environments
    description: APIs for environments
  - name: Events_events
    description: APIs for Meshery Cloud events.
  - name: Filter_filters
    description: Operations related to Meshery filters.
  - name: Invitation_Invitation
    description: Operations related to invitation
  - name: PatternResource_patternResources
    description: Operations related to Meshery pattern resources.
  - name: Performance_Profile_performance
    description: APIs for managing Meshery performance profiles.
  - name: Plan_Plans
    description: Operations related to plans
  - name: Subscription_Subscriptions
    description: Operations related to subscriptions
  - name: Subscription_Plans
    description: Operations related to plans
  - name: Subscription_Payment Processors
    description: Operations related to payment processors
  - name: token_tokens
    description: Operations related to user tokens and sessions
  - name: Workspace_workspaces
    description: APIs for Meshery Cloud workspaces.
  - name: Workspace_views
    description: APIs for Meshery Cloud views associated with workspaces.
  - name: Workspace_designs
    description: APIs for Meshery Cloud designs associated with workspaces.
paths:
  /api/entitlement/features:
    get:
      x-internal:
        - cloud
      tags:
        - Feature_Features
      summary: Get all features defined across plans
      operationId: getFeatures
      parameters:
        - name: page
          in: query
          description: Get responses by page
          schema:
            type: string
        - name: pagesize
          in: query
          description: Get responses by pagesize
          schema:
            type: string
      responses:
        '200':
          description: Features response
          content:
            application/json:
              schema:
                type: array
                description: List of features.
                items:
                  x-go-type: Feature
                  type: object
                  additionalProperties: false
                  description: >-
                    A feature is a quantified entitlement granted to an organization through its subscription plan, such
                    as the number of components allowed in a design.
                  required:
                    - id
                    - plan_id
                    - name
                    - quantity
                    - created_at
                    - updated_at
                  properties:
                    id:
                      description: Unique identifier for the feature.
                      x-go-name: ID
                      x-oapi-codegen-extra-tags:
                        db: id
                        csv: id
                      x-order: 1
                      type: string
                      format: uuid
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                    plan_id:
                      description: Identifier of the plan granting this feature.
                      x-go-name: PlanId
                      x-oapi-codegen-extra-tags:
                        db: plan_id
                        csv: plan_id
                      x-order: 2
                      type: string
                      format: uuid
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                    plan:
                      description: The plan granting this feature. Populated only when the association is explicitly loaded.
                      x-go-type: planv1beta3.Plan
                      x-go-type-import:
                        path: github.com/meshery/schemas/models/v1beta3/plan
                        name: planv1beta3
                      x-oapi-codegen-extra-tags:
                        belongs_to: plans
                        fk_id: PlanId
                        json: plan,omitempty
                      x-order: 3
                      type: object
                      additionalProperties: false
                      required:
                        - id
                        - name
                        - cadence
                        - unit
                        - pricePerUnit
                        - minimumUnits
                        - currency
                      properties:
                        id:
                          description: Unique identifier for the plan.
                          x-oapi-codegen-extra-tags:
                            db: id
                            json: id
                            csv: id
                          type: string
                          format: uuid
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        name:
                          description: Display name of the plan.
                          x-go-type: PlanName
                          x-oapi-codegen-extra-tags:
                            db: name
                            json: name
                            csv: name
                          type: string
                          x-enum-casing-exempt: true
                          enum:
                            - Free
                            - Team Designer
                            - Team Operator
                            - Enterprise
                        cadence:
                          description: Billing cadence for the plan (monthly, annually, or none).
                          x-go-type: PlanCadence
                          x-oapi-codegen-extra-tags:
                            db: cadence
                            json: cadence
                            csv: cadence
                          type: string
                          enum:
                            - none
                            - monthly
                            - annually
                        unit:
                          description: Unit of consumption this plan charges against (e.g. user).
                          x-go-type: PlanUnit
                          x-oapi-codegen-extra-tags:
                            db: unit
                            json: unit
                            csv: unit
                          type: string
                          enum:
                            - user
                            - free
                        minimumUnits:
                          type: integer
                          description: Minimum number of units required for the plan.
                          x-oapi-codegen-extra-tags:
                            db: minimum_units
                            json: minimumUnits
                            csv: minimum_units
                          minimum: 0
                        pricePerUnit:
                          type: number
                          description: Price per unit of the plan.
                          x-oapi-codegen-extra-tags:
                            db: price_per_unit
                            json: pricePerUnit
                            csv: price_per_unit
                          minimum: 0
                        currency:
                          description: Currency in which the plan is priced.
                          x-go-type: Currency
                          x-oapi-codegen-extra-tags:
                            db: currency
                            json: currency
                            csv: currency
                          type: string
                          enum:
                            - usd
                    name:
                      description: Name of the entitled feature.
                      x-go-type: FeatureName
                      x-oapi-codegen-extra-tags:
                        db: name
                        csv: name
                      x-order: 4
                      type: string
                      x-enum-casing-exempt: true
                      enum:
                        - ComponentsInDesign
                        - RelationshipsInDesign
                        - DesignsInWorkspace
                        - WorkspacesInOrganization
                        - ImageSizeInDesign
                        - SizePerDesign
                    quantity:
                      type: number
                      format: double
                      description: Quantity of the feature granted by the plan. The sentinel value 999999999999 denotes unlimited.
                      minimum: 0
                      x-oapi-codegen-extra-tags:
                        db: quantity
                        csv: quantity
                      x-order: 5
                    created_at:
                      x-order: 6
                      description: Timestamp when the resource was created.
                      x-go-type: time.Time
                      type: string
                      format: date-time
                      x-go-name: CreatedAt
                      x-oapi-codegen-extra-tags:
                        db: created_at
                        yaml: created_at
                      x-go-type-skip-optional-pointer: true
                    updated_at:
                      x-order: 7
                      description: Timestamp when the resource was updated.
                      x-go-type: time.Time
                      type: string
                      format: date-time
                      x-go-name: UpdatedAt
                      x-oapi-codegen-extra-tags:
                        db: updated_at
                        yaml: updated_at
                      x-go-type-skip-optional-pointer: true
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/entitlement/subscriptions/organizations/{orgId}/features:
    get:
      x-internal:
        - cloud
      tags:
        - Feature_Features
      summary: Get the active features entitled to an organization through its subscriptions
      operationId: getFeaturesByOrganization
      parameters:
        - name: orgId
          in: path
          description: The ID of the organization
          required: true
          schema:
            type: string
            format: uuid
            description: >-
              A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core definition is
              used across different schemas.
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid
      responses:
        '200':
          description: Features response
          content:
            application/json:
              schema:
                type: array
                description: List of features.
                items:
                  x-go-type: Feature
                  type: object
                  additionalProperties: false
                  description: >-
                    A feature is a quantified entitlement granted to an organization through its subscription plan, such
                    as the number of components allowed in a design.
                  required:
                    - id
                    - plan_id
                    - name
                    - quantity
                    - created_at
                    - updated_at
                  properties:
                    id:
                      description: Unique identifier for the feature.
                      x-go-name: ID
                      x-oapi-codegen-extra-tags:
                        db: id
                        csv: id
                      x-order: 1
                      type: string
                      format: uuid
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                    plan_id:
                      description: Identifier of the plan granting this feature.
                      x-go-name: PlanId
                      x-oapi-codegen-extra-tags:
                        db: plan_id
                        csv: plan_id
                      x-order: 2
                      type: string
                      format: uuid
                      x-go-type: uuid.UUID
                      x-go-type-import:
                        path: github.com/gofrs/uuid
                    plan:
                      description: The plan granting this feature. Populated only when the association is explicitly loaded.
                      x-go-type: planv1beta3.Plan
                      x-go-type-import:
                        path: github.com/meshery/schemas/models/v1beta3/plan
                        name: planv1beta3
                      x-oapi-codegen-extra-tags:
                        belongs_to: plans
                        fk_id: PlanId
                        json: plan,omitempty
                      x-order: 3
                      type: object
                      additionalProperties: false
                      required:
                        - id
                        - name
                        - cadence
                        - unit
                        - pricePerUnit
                        - minimumUnits
                        - currency
                      properties:
                        id:
                          description: Unique identifier for the plan.
                          x-oapi-codegen-extra-tags:
                            db: id
                            json: id
                            csv: id
                          type: string
                          format: uuid
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        name:
                          description: Display name of the plan.
                          x-go-type: PlanName
                          x-oapi-codegen-extra-tags:
                            db: name
                            json: name
                            csv: name
                          type: string
                          x-enum-casing-exempt: true
                          enum:
                            - Free
                            - Team Designer
                            - Team Operator
                            - Enterprise
                        cadence:
                          description: Billing cadence for the plan (monthly, annually, or none).
                          x-go-type: PlanCadence
                          x-oapi-codegen-extra-tags:
                            db: cadence
                            json: cadence
                            csv: cadence
                          type: string
                          enum:
                            - none
                            - monthly
                            - annually
                        unit:
                          description: Unit of consumption this plan charges against (e.g. user).
                          x-go-type: PlanUnit
                          x-oapi-codegen-extra-tags:
                            db: unit
                            json: unit
                            csv: unit
                          type: string
                          enum:
                            - user
                            - free
                        minimumUnits:
                          type: integer
                          description: Minimum number of units required for the plan.
                          x-oapi-codegen-extra-tags:
                            db: minimum_units
                            json: minimumUnits
                            csv: minimum_units
                          minimum: 0
                        pricePerUnit:
                          type: number
                          description: Price per unit of the plan.
                          x-oapi-codegen-extra-tags:
                            db: price_per_unit
                            json: pricePerUnit
                            csv: price_per_unit
                          minimum: 0
                        currency:
                          description: Currency in which the plan is priced.
                          x-go-type: Currency
                          x-oapi-codegen-extra-tags:
                            db: currency
                            json: currency
                            csv: currency
                          type: string
                          enum:
                            - usd
                    name:
                      description: Name of the entitled feature.
                      x-go-type: FeatureName
                      x-oapi-codegen-extra-tags:
                        db: name
                        csv: name
                      x-order: 4
                      type: string
                      x-enum-casing-exempt: true
                      enum:
                        - ComponentsInDesign
                        - RelationshipsInDesign
                        - DesignsInWorkspace
                        - WorkspacesInOrganization
                        - ImageSizeInDesign
                        - SizePerDesign
                    quantity:
                      type: number
                      format: double
                      description: Quantity of the feature granted by the plan. The sentinel value 999999999999 denotes unlimited.
                      minimum: 0
                      x-oapi-codegen-extra-tags:
                        db: quantity
                        csv: quantity
                      x-order: 5
                    created_at:
                      x-order: 6
                      description: Timestamp when the resource was created.
                      x-go-type: time.Time
                      type: string
                      format: date-time
                      x-go-name: CreatedAt
                      x-oapi-codegen-extra-tags:
                        db: created_at
                        yaml: created_at
                      x-go-type-skip-optional-pointer: true
                    updated_at:
                      x-order: 7
                      description: Timestamp when the resource was updated.
                      x-go-type: time.Time
                      type: string
                      format: date-time
                      x-go-name: UpdatedAt
                      x-oapi-codegen-extra-tags:
                        db: updated_at
                        yaml: updated_at
                      x-go-type-skip-optional-pointer: true
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/integrations/support:
    post:
      x-internal:
        - cloud
      tags:
        - Support_Support
      summary: Submit a support request
      operationId: submitSupportRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Payload for submitting a help-and-support request.
              required:
                - subject
                - message
              properties:
                subject:
                  type: string
                  title: Subject
                  minLength: 1
                  maxLength: 255
                  description: Concise and descriptive title for the support request.
                message:
                  type: string
                  title: Description
                  minLength: 10
                  description: Detailed description of the issue or question.
                scope:
                  type: string
                  title: Scope
                  enum:
                    - Support
                    - Community
                    - Account
                    - Commercial
                  description: Category that best represents the nature of the inquiry.
      responses:
        '201':
          description: Support request submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Invalid request format
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
  /api/system/version:
    get:
      x-internal:
        - cloud
        - meshery
      tags:
        - System_API_System
      summary: Get the running Meshery server's version metadata
      description: Returns version metadata for the running Meshery service.
      operationId: getSystemVersion
      security: []
      responses:
        '200':
          description: Server version metadata
          content:
            application/json:
              schema:
                type: object
                description: Version metadata for a running Meshery service.
                additionalProperties: false
                properties:
                  version:
                    type: string
                    description: Meshery Cloud deployment version.
                    maxLength: 128
                  build:
                    type: string
                    description: Build identifier (typically the git tag of the running binary).
                    maxLength: 128
                  latest:
                    type: string
                    description: Latest available Meshery release tag fetched from GitHub.
                    maxLength: 128
                  outdated:
                    type: boolean
                    description: True when the running build is older than the latest available release.
                  commitsha:
                    type: string
                    description: Git commit SHA of the running service. The wire field is `commitsha`.
                    maxLength: 64
                  releaseChannel:
                    type: string
                    description: Release channel of the running binary (e.g. `stable`, `edge`).
                    maxLength: 64
        '500':
          description: Encoding error while serializing the version payload.
  /api/system/email/test:
    post:
      x-internal:
        - cloud
      tags:
        - System_API_System
      summary: Send a test email
      description: >-
        Sends a test email through the configured SMTP provider to verify the email configuration. Restricted to
        provider administrators.
      operationId: sendTestEmail
      requestBody:
        description: Recipient and optional subject for the test email.
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request body for sending a test email through the configured SMTP provider.
              additionalProperties: false
              required:
                - to
              properties:
                to:
                  type: string
                  description: Recipient email address for the test message.
                  format: email
                  maxLength: 320
                subject:
                  type: string
                  description: Subject line for the test message. A default subject is used when omitted.
                  maxLength: 998
                  x-oapi-codegen-extra-tags:
                    json: subject,omitempty
      responses:
        '200':
          description: Test email sent
          content:
            application/json:
              schema:
                type: object
                description: Result of a test email send attempt.
                additionalProperties: false
                required:
                  - status
                  - message
                  - timestamp
                  - sentTo
                properties:
                  status:
                    type: string
                    description: Outcome status of the send attempt (e.g. `success`).
                    maxLength: 64
                  message:
                    type: string
                    description: Human-readable result message.
                    maxLength: 1024
                  timestamp:
                    type: string
                    description: Unix-epoch seconds, as a decimal string, when the test email was sent.
                    pattern: ^[0-9]+$
                    maxLength: 20
                  sentTo:
                    type: string
                    description: Recipient address the test email was sent to.
                    format: email
                    maxLength: 320
        '400':
          description: Invalid request payload or malformed recipient email address.
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Email configuration validation failed or the send attempt errored.
  /api/organizations/badges/{badgeId}:
    delete:
      x-internal:
        - cloud
      operationId: deleteBadgeById
      tags:
        - Badge_Badge
      summary: Delete a badge by its ID
      parameters:
        - name: badgeId
          in: path
          description: Badge ID
          required: true
          schema:
            type: string
            format: uuid
            description: >-
              A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core definition is
              used across different schemas.
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid
      responses:
        '204':
          description: Badge deleted
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
    get:
      x-internal:
        - cloud
      operationId: getBadgeById
      tags:
        - Badge_Badge
      summary: Get a badge by its ID
      parameters:
        - name: badgeId
          in: path
          description: Badge ID
          required: true
          schema:
            type: string
            format: uuid
            description: >-
              A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core definition is
              used across different schemas.
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid
      responses:
        '200':
          description: Badge response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: Badge entity — a named recognition issued within an organization.
                required:
                  - id
                  - label
                  - name
                  - orgId
                  - description
                  - imageUrl
                  - createdAt
                  - updatedAt
                  - deletedAt
                properties:
                  id:
                    type: string
                    format: uuid
                    description: >-
                      A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                      definition is used across different schemas.
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-go-name: ID
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                  orgId:
                    type: string
                    format: uuid
                    description: >-
                      A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                      definition is used across different schemas.
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-go-name: OrgID
                    x-oapi-codegen-extra-tags:
                      db: org_id
                      json: orgId
                  label:
                    type: string
                    description: Unique identifier for the badge, typically slug-style (auto generated).
                    example: Kubernetes-Expert
                    x-oapi-codegen-extra-tags:
                      db: label
                      json: label
                    maxLength: 500
                  name:
                    type: string
                    description: Concise descriptor for the badge or certificate.
                    example: Kubernetes Expert
                    x-oapi-codegen-extra-tags:
                      db: name
                      json: name
                    minLength: 1
                    maxLength: 255
                  description:
                    type: string
                    description: A description of the milestone achieved, often including criteria for receiving this recognition.
                    example: Awarded for mastering Kubernetes concepts and practices.
                    x-oapi-codegen-extra-tags:
                      db: description
                      json: description
                    maxLength: 5000
                  imageUrl:
                    type: string
                    format: uri
                    description: URL to the badge image.
                    example: >-
                      https://raw.githubusercontent.com/meshery-extensions/meshery-academy/refs/heads/master/.github/assets/images/mershery-icon.png
                    maxLength: 2048
                    x-oapi-codegen-extra-tags:
                      db: image_url
                      json: imageUrl
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the badge was created.
                    x-go-type: time.Time
                    x-go-type-skip-optional-pointer: true
                    x-oapi-codegen-extra-tags:
                      db: created_at
                      json: createdAt
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the badge was last updated.
                    x-go-type: time.Time
                    x-go-type-skip-optional-pointer: true
                    x-oapi-codegen-extra-tags:
                      db: updated_at
                      json: updatedAt
                  deletedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the badge was soft-deleted, if applicable.
                    x-go-type: core.NullTime
                    x-go-type-import:
                      path: github.com/meshery/schemas/models/core
                      name: core
                    x-oapi-codegen-extra-tags:
                      db: deleted_at
                      json: deletedAt
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/organizations/badges:
    post:
      x-internal:
        - cloud
      operationId: createOrUpdateBadge
      tags:
        - Badge_Badge
      summary: Create a new badge or update an existing badge
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Payload for creating or updating a badge.
              required:
                - label
                - name
                - orgId
                - description
                - imageUrl
              properties:
                id:
                  type: string
                  format: uuid
                  description: >-
                    A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                    definition is used across different schemas.
                  x-go-type: uuid.UUID
                  x-go-type-import:
                    path: github.com/gofrs/uuid
                  x-go-name: ID
                  x-oapi-codegen-extra-tags:
                    db: id
                    json: id,omitempty
                orgId:
                  type: string
                  format: uuid
                  description: >-
                    A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                    definition is used across different schemas.
                  x-go-type: uuid.UUID
                  x-go-type-import:
                    path: github.com/gofrs/uuid
                  x-go-name: OrgID
                  x-oapi-codegen-extra-tags:
                    db: org_id
                    json: orgId
                label:
                  type: string
                  description: Unique identifier for the badge, typically slug-style (auto generated).
                  example: Kubernetes-Expert
                  x-oapi-codegen-extra-tags:
                    db: label
                    json: label
                  maxLength: 500
                name:
                  type: string
                  description: Concise descriptor for the badge or certificate.
                  example: Kubernetes Expert
                  x-oapi-codegen-extra-tags:
                    db: name
                    json: name
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  description: A description of the milestone achieved, often including criteria for receiving this recognition.
                  example: Awarded for mastering Kubernetes concepts and practices.
                  x-oapi-codegen-extra-tags:
                    db: description
                    json: description
                  maxLength: 5000
                imageUrl:
                  type: string
                  format: uri
                  description: URL to the badge image.
                  example: >-
                    https://raw.githubusercontent.com/meshery-extensions/meshery-academy/refs/heads/master/.github/assets/images/mershery-icon.png
                  maxLength: 2048
                  x-oapi-codegen-extra-tags:
                    db: image_url
                    json: imageUrl
        required: true
      responses:
        '200':
          description: Badge upserted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: Badge entity — a named recognition issued within an organization.
                required:
                  - id
                  - label
                  - name
                  - orgId
                  - description
                  - imageUrl
                  - createdAt
                  - updatedAt
                  - deletedAt
                properties:
                  id:
                    type: string
                    format: uuid
                    description: >-
                      A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                      definition is used across different schemas.
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-go-name: ID
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                  orgId:
                    type: string
                    format: uuid
                    description: >-
                      A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                      definition is used across different schemas.
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-go-name: OrgID
                    x-oapi-codegen-extra-tags:
                      db: org_id
                      json: orgId
                  label:
                    type: string
                    description: Unique identifier for the badge, typically slug-style (auto generated).
                    example: Kubernetes-Expert
                    x-oapi-codegen-extra-tags:
                      db: label
                      json: label
                    maxLength: 500
                  name:
                    type: string
                    description: Concise descriptor for the badge or certificate.
                    example: Kubernetes Expert
                    x-oapi-codegen-extra-tags:
                      db: name
                      json: name
                    minLength: 1
                    maxLength: 255
                  description:
                    type: string
                    description: A description of the milestone achieved, often including criteria for receiving this recognition.
                    example: Awarded for mastering Kubernetes concepts and practices.
                    x-oapi-codegen-extra-tags:
                      db: description
                      json: description
                    maxLength: 5000
                  imageUrl:
                    type: string
                    format: uri
                    description: URL to the badge image.
                    example: >-
                      https://raw.githubusercontent.com/meshery-extensions/meshery-academy/refs/heads/master/.github/assets/images/mershery-icon.png
                    maxLength: 2048
                    x-oapi-codegen-extra-tags:
                      db: image_url
                      json: imageUrl
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the badge was created.
                    x-go-type: time.Time
                    x-go-type-skip-optional-pointer: true
                    x-oapi-codegen-extra-tags:
                      db: created_at
                      json: createdAt
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the badge was last updated.
                    x-go-type: time.Time
                    x-go-type-skip-optional-pointer: true
                    x-oapi-codegen-extra-tags:
                      db: updated_at
                      json: updatedAt
                  deletedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the badge was soft-deleted, if applicable.
                    x-go-type: core.NullTime
                    x-go-type-import:
                      path: github.com/meshery/schemas/models/core
                      name: core
                    x-oapi-codegen-extra-tags:
                      db: deleted_at
                      json: deletedAt
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/identity/badges:
    get:
      x-internal:
        - cloud
      operationId: getAvailableBadges
      tags:
        - Badge_Badge
      summary: Get available badges
      parameters:
        - name: orgId
          in: query
          description: Organization ID to scope the badge listing to.
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Available badges
          content:
            application/json:
              schema:
                type: object
                description: Map of badges available in an organization, keyed by badge label.
                properties:
                  badges:
                    type: object
                    additionalProperties:
                      type: object
                      additionalProperties: false
                      description: Badge entity — a named recognition issued within an organization.
                      required:
                        - id
                        - label
                        - name
                        - orgId
                        - description
                        - imageUrl
                        - createdAt
                        - updatedAt
                        - deletedAt
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                          x-go-name: ID
                          x-oapi-codegen-extra-tags:
                            db: id
                            json: id
                        orgId:
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                          x-go-name: OrgID
                          x-oapi-codegen-extra-tags:
                            db: org_id
                            json: orgId
                        label:
                          type: string
                          description: Unique identifier for the badge, typically slug-style (auto generated).
                          example: Kubernetes-Expert
                          x-oapi-codegen-extra-tags:
                            db: label
                            json: label
                          maxLength: 500
                        name:
                          type: string
                          description: Concise descriptor for the badge or certificate.
                          example: Kubernetes Expert
                          x-oapi-codegen-extra-tags:
                            db: name
                            json: name
                          minLength: 1
                          maxLength: 255
                        description:
                          type: string
                          description: >-
                            A description of the milestone achieved, often including criteria for receiving this
                            recognition.
                          example: Awarded for mastering Kubernetes concepts and practices.
                          x-oapi-codegen-extra-tags:
                            db: description
                            json: description
                          maxLength: 5000
                        imageUrl:
                          type: string
                          format: uri
                          description: URL to the badge image.
                          example: >-
                            https://raw.githubusercontent.com/meshery-extensions/meshery-academy/refs/heads/master/.github/assets/images/mershery-icon.png
                          maxLength: 2048
                          x-oapi-codegen-extra-tags:
                            db: image_url
                            json: imageUrl
                        createdAt:
                          type: string
                          format: date-time
                          description: Timestamp when the badge was created.
                          x-go-type: time.Time
                          x-go-type-skip-optional-pointer: true
                          x-oapi-codegen-extra-tags:
                            db: created_at
                            json: createdAt
                        updatedAt:
                          type: string
                          format: date-time
                          description: Timestamp when the badge was last updated.
                          x-go-type: time.Time
                          x-go-type-skip-optional-pointer: true
                          x-oapi-codegen-extra-tags:
                            db: updated_at
                            json: updatedAt
                        deletedAt:
                          type: string
                          format: date-time
                          description: Timestamp when the badge was soft-deleted, if applicable.
                          x-go-type: core.NullTime
                          x-go-type-import:
                            path: github.com/meshery/schemas/models/core
                            name: core
                          x-oapi-codegen-extra-tags:
                            db: deleted_at
                            json: deletedAt
                    description: Available badges, keyed by badge label.
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/identity/users/badges:
    put:
      x-internal:
        - cloud
      operationId: assignBadges
      tags:
        - Badge_Badge
      summary: Assign badges to a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Payload for assigning a set of badges to a user.
              required:
                - badges
                - userId
              properties:
                badges:
                  type: array
                  items:
                    type: string
                    description: Badge label (see Badge.label) to assign.
                  description: Labels of the badges being assigned to the user.
                userId:
                  type: string
                  description: ID of the user to receive the badges.
                  maxLength: 500
                  format: uuid
                  x-go-name: UserID
                  x-oapi-codegen-extra-tags:
                    json: userId
                notify:
                  type: boolean
                  description: When true, send a notification to the user about the new badge assignment.
      responses:
        '200':
          description: Badge assignment result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/integrations/credentials:
    get:
      x-internal:
        - cloud
        - meshery
      tags:
        - credential_credentials
      summary: Get credentials
      operationId: getUserCredentials
      description: Retrieves all credentials belonging to the authenticated user.
      parameters:
        - name: page
          in: query
          description: Get responses by page
          schema:
            type: integer
            minimum: 0
        - name: pageSize
          in: query
          description: >-
            Number of responses to return per page. Canonical camelCase pagination parameter; prefer this over the
            deprecated all-lowercase `pagesize`.
          schema:
            type: integer
            minimum: 1
        - name: pagesize
          in: query
          description: Get responses by pagesize. Deprecated alias of pageSize.
          deprecated: true
          schema:
            type: integer
        - name: search
          in: query
          description: Get responses that match search param value
          schema:
            type: string
        - name: order
          in: query
          description: Get ordered responses
          schema:
            type: string
      responses:
        '200':
          description: Credentials response
          content:
            application/json:
              schema:
                type: object
                description: A paginated list of credentials.
                required:
                  - credentials
                  - totalCount
                  - page
                  - pageSize
                properties:
                  credentials:
                    type: array
                    items:
                      x-go-type: Credential
                      type: object
                      additionalProperties: false
                      description: >
                        Meshery Credentials store sensitive information such as API keys, tokens, and passwords used by
                        connections to external systems.
                      required:
                        - id
                        - name
                        - type
                        - userId
                        - createdAt
                        - updatedAt
                      properties:
                        id:
                          description: Unique identifier for the credential.
                          x-order: 1
                          x-oapi-codegen-extra-tags:
                            db: id
                          type: string
                          format: uuid
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        name:
                          type: string
                          description: Human-readable name for the credential.
                          x-order: 2
                          x-oapi-codegen-extra-tags:
                            db: name
                          minLength: 1
                          maxLength: 255
                        userId:
                          description: UUID of the user who owns this credential.
                          x-order: 3
                          x-oapi-codegen-extra-tags:
                            db: owner
                          type: string
                          format: uuid
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                        type:
                          type: string
                          description: Credential type (e.g. token, basic, AWS).
                          x-order: 4
                          x-oapi-codegen-extra-tags:
                            db: type
                          maxLength: 255
                        secret:
                          type: object
                          description: Key-value pairs containing the sensitive credential data.
                          x-order: 5
                          x-go-type: core.Map
                          x-go-type-import:
                            path: github.com/meshery/schemas/models/core
                          x-go-type-skip-optional-pointer: true
                          x-oapi-codegen-extra-tags:
                            db: secret
                        createdAt:
                          type: string
                          format: date-time
                          description: Timestamp when the credential was created.
                          x-go-type: time.Time
                          x-go-type-skip-optional-pointer: true
                          x-order: 6
                          x-oapi-codegen-extra-tags:
                            db: created_at
                        updatedAt:
                          type: string
                          format: date-time
                          description: Timestamp when the credential was last updated.
                          x-go-type: time.Time
                          x-go-type-skip-optional-pointer: true
                          x-order: 7
                          x-oapi-codegen-extra-tags:
                            db: updated_at
                        deletedAt:
                          type: string
                          format: date-time
                          description: Timestamp when the credential was soft-deleted.
                          x-go-type: core.NullTime
                          x-go-type-import:
                            path: github.com/meshery/schemas/models/core
                          x-go-type-skip-optional-pointer: true
                          x-order: 8
                          x-oapi-codegen-extra-tags:
                            db: deleted_at
                    x-order: 1
                    description: The credentials returned on the current page.
                  totalCount:
                    type: integer
                    description: Total number of credentials across all pages.
                    x-order: 2
                    minimum: 0
                  page:
                    type: integer
                    description: Current page number (zero-based).
                    x-order: 3
                    minimum: 0
                  pageSize:
                    type: integer
                    description: Number of credentials per page.
                    x-order: 4
                    minimum: 1
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
    post:
      x-internal:
        - cloud
        - meshery
      tags:
        - credential_credentials
      summary: Save credential
      operationId: saveUserCredential
      description: Saves a new credential for the authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Payload for creating or updating a credential.
              required:
                - name
                - type
              properties:
                id:
                  description: Existing credential ID for updates; omit on create.
                  x-order: 1
                  x-oapi-codegen-extra-tags:
                    json: id,omitempty
                  type: string
                  format: uuid
                  x-go-type: uuid.UUID
                  x-go-type-import:
                    path: github.com/gofrs/uuid
                name:
                  type: string
                  description: Human-readable name for the credential.
                  x-order: 2
                  minLength: 1
                  maxLength: 255
                userId:
                  description: UUID of the user who owns this credential.
                  x-order: 3
                  x-oapi-codegen-extra-tags:
                    json: userId,omitempty
                  type: string
                  format: uuid
                  x-go-type: uuid.UUID
                  x-go-type-import:
                    path: github.com/gofrs/uuid
                type:
                  type: string
                  description: Credential type (e.g. token, basic, AWS).
                  x-order: 4
                  maxLength: 255
                secret:
                  type: object
                  description: Key-value pairs containing the sensitive credential data.
                  x-order: 5
                  x-go-type: core.Map
                  x-go-type-import:
                    path: github.com/meshery/schemas/models/core
                  x-go-type-skip-optional-pointer: true
      responses:
        '201':
          description: Credential saved
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: >
                  Meshery Credentials store sensitive information such as API keys, tokens, and passwords used by
                  connections to external systems.
                required:
                  - id
                  - name
                  - type
                  - userId
                  - createdAt
                  - updatedAt
                properties:
                  id:
                    description: Unique identifier for the credential.
                    x-order: 1
                    x-oapi-codegen-extra-tags:
                      db: id
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                  name:
                    type: string
                    description: Human-readable name for the credential.
                    x-order: 2
                    x-oapi-codegen-extra-tags:
                      db: name
                    minLength: 1
                    maxLength: 255
                  userId:
                    description: UUID of the user who owns this credential.
                    x-order: 3
                    x-oapi-codegen-extra-tags:
                      db: owner
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                  type:
                    type: string
                    description: Credential type (e.g. token, basic, AWS).
                    x-order: 4
                    x-oapi-codegen-extra-tags:
                      db: type
                    maxLength: 255
                  secret:
                    type: object
                    description: Key-value pairs containing the sensitive credential data.
                    x-order: 5
                    x-go-type: core.Map
                    x-go-type-import:
                      path: github.com/meshery/schemas/models/core
                    x-go-type-skip-optional-pointer: true
                    x-oapi-codegen-extra-tags:
                      db: secret
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the credential was created.
                    x-go-type: time.Time
                    x-go-type-skip-optional-pointer: true
                    x-order: 6
                    x-oapi-codegen-extra-tags:
                      db: created_at
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the credential was last updated.
                    x-go-type: time.Time
                    x-go-type-skip-optional-pointer: true
                    x-order: 7
                    x-oapi-codegen-extra-tags:
                      db: updated_at
                  deletedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the credential was soft-deleted.
                    x-go-type: core.NullTime
                    x-go-type-import:
                      path: github.com/meshery/schemas/models/core
                    x-go-type-skip-optional-pointer: true
                    x-order: 8
                    x-oapi-codegen-extra-tags:
                      db: deleted_at
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
    put:
      x-internal:
        - cloud
        - meshery
      tags:
        - credential_credentials
      summary: Update credential
      operationId: updateUserCredential
      description: Updates an existing credential for the authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Payload for creating or updating a credential.
              required:
                - name
                - type
              properties:
                id:
                  description: Existing credential ID for updates; omit on create.
                  x-order: 1
                  x-oapi-codegen-extra-tags:
                    json: id,omitempty
                  type: string
                  format: uuid
                  x-go-type: uuid.UUID
                  x-go-type-import:
                    path: github.com/gofrs/uuid
                name:
                  type: string
                  description: Human-readable name for the credential.
                  x-order: 2
                  minLength: 1
                  maxLength: 255
                userId:
                  description: UUID of the user who owns this credential.
                  x-order: 3
                  x-oapi-codegen-extra-tags:
                    json: userId,omitempty
                  type: string
                  format: uuid
                  x-go-type: uuid.UUID
                  x-go-type-import:
                    path: github.com/gofrs/uuid
                type:
                  type: string
                  description: Credential type (e.g. token, basic, AWS).
                  x-order: 4
                  maxLength: 255
                secret:
                  type: object
                  description: Key-value pairs containing the sensitive credential data.
                  x-order: 5
                  x-go-type: core.Map
                  x-go-type-import:
                    path: github.com/meshery/schemas/models/core
                  x-go-type-skip-optional-pointer: true
      responses:
        '200':
          description: Credential updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: >
                  Meshery Credentials store sensitive information such as API keys, tokens, and passwords used by
                  connections to external systems.
                required:
                  - id
                  - name
                  - type
                  - userId
                  - createdAt
                  - updatedAt
                properties:
                  id:
                    description: Unique identifier for the credential.
                    x-order: 1
                    x-oapi-codegen-extra-tags:
                      db: id
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                  name:
                    type: string
                    description: Human-readable name for the credential.
                    x-order: 2
                    x-oapi-codegen-extra-tags:
                      db: name
                    minLength: 1
                    maxLength: 255
                  userId:
                    description: UUID of the user who owns this credential.
                    x-order: 3
                    x-oapi-codegen-extra-tags:
                      db: owner
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                  type:
                    type: string
                    description: Credential type (e.g. token, basic, AWS).
                    x-order: 4
                    x-oapi-codegen-extra-tags:
                      db: type
                    maxLength: 255
                  secret:
                    type: object
                    description: Key-value pairs containing the sensitive credential data.
                    x-order: 5
                    x-go-type: core.Map
                    x-go-type-import:
                      path: github.com/meshery/schemas/models/core
                    x-go-type-skip-optional-pointer: true
                    x-oapi-codegen-extra-tags:
                      db: secret
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the credential was created.
                    x-go-type: time.Time
                    x-go-type-skip-optional-pointer: true
                    x-order: 6
                    x-oapi-codegen-extra-tags:
                      db: created_at
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the credential was last updated.
                    x-go-type: time.Time
                    x-go-type-skip-optional-pointer: true
                    x-order: 7
                    x-oapi-codegen-extra-tags:
                      db: updated_at
                  deletedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the credential was soft-deleted.
                    x-go-type: core.NullTime
                    x-go-type-import:
                      path: github.com/meshery/schemas/models/core
                    x-go-type-skip-optional-pointer: true
                    x-order: 8
                    x-oapi-codegen-extra-tags:
                      db: deleted_at
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
    delete:
      x-internal:
        - cloud
        - meshery
      tags:
        - credential_credentials
      summary: Delete credential
      operationId: deleteUserCredential
      description: Deletes a credential belonging to the authenticated user.
      parameters:
        - name: credentialId
          in: query
          description: Credential ID
          required: true
          schema:
            type: string
            format: uuid
            description: >-
              A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core definition is
              used across different schemas.
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid
      responses:
        '204':
          description: Credential deleted
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/integrations/credentials/{credentialId}:
    get:
      x-internal:
        - cloud
        - meshery
      tags:
        - credential_credentials
      summary: Get credential by ID
      operationId: getCredentialById
      description: Retrieves a specific credential by its ID.
      parameters:
        - name: credentialId
          in: path
          description: Credential ID
          required: true
          schema:
            type: string
            format: uuid
            description: >-
              A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core definition is
              used across different schemas.
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid
      responses:
        '200':
          description: Credential response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: >
                  Meshery Credentials store sensitive information such as API keys, tokens, and passwords used by
                  connections to external systems.
                required:
                  - id
                  - name
                  - type
                  - userId
                  - createdAt
                  - updatedAt
                properties:
                  id:
                    description: Unique identifier for the credential.
                    x-order: 1
                    x-oapi-codegen-extra-tags:
                      db: id
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                  name:
                    type: string
                    description: Human-readable name for the credential.
                    x-order: 2
                    x-oapi-codegen-extra-tags:
                      db: name
                    minLength: 1
                    maxLength: 255
                  userId:
                    description: UUID of the user who owns this credential.
                    x-order: 3
                    x-oapi-codegen-extra-tags:
                      db: owner
                    type: string
                    format: uuid
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                  type:
                    type: string
                    description: Credential type (e.g. token, basic, AWS).
                    x-order: 4
                    x-oapi-codegen-extra-tags:
                      db: type
                    maxLength: 255
                  secret:
                    type: object
                    description: Key-value pairs containing the sensitive credential data.
                    x-order: 5
                    x-go-type: core.Map
                    x-go-type-import:
                      path: github.com/meshery/schemas/models/core
                    x-go-type-skip-optional-pointer: true
                    x-oapi-codegen-extra-tags:
                      db: secret
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the credential was created.
                    x-go-type: time.Time
                    x-go-type-skip-optional-pointer: true
                    x-order: 6
                    x-oapi-codegen-extra-tags:
                      db: created_at
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the credential was last updated.
                    x-go-type: time.Time
                    x-go-type-skip-optional-pointer: true
                    x-order: 7
                    x-oapi-codegen-extra-tags:
                      db: updated_at
                  deletedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the credential was soft-deleted.
                    x-go-type: core.NullTime
                    x-go-type-import:
                      path: github.com/meshery/schemas/models/core
                    x-go-type-skip-optional-pointer: true
                    x-order: 8
                    x-oapi-codegen-extra-tags:
                      db: deleted_at
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/identity/orgs/{orgId}/users/keys:
    get:
      x-internal:
        - cloud
        - meshery
      tags:
        - Key_users
      operationId: getUserKeys
      summary: Get User Keys
      description: Get all keys based on roles assigned to user
      parameters:
        - name: orgId
          in: path
          description: Organization ID
          required: true
          schema:
            type: string
            format: uuid
            description: >-
              A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core definition is
              used across different schemas.
            x-go-type: uuid.UUID
            x-go-type-import:
              path: github.com/gofrs/uuid
        - name: page
          in: query
          description: Get responses by page
          schema:
            type: integer
            minimum: 0
        - name: pageSize
          in: query
          description: >-
            Number of responses to return per page. Canonical camelCase pagination parameter; prefer this over the
            deprecated all-lowercase `pagesize`.
          schema:
            type: integer
            minimum: 1
        - name: pagesize
          in: query
          description: Get responses by pagesize. Deprecated alias of pageSize.
          deprecated: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns user keys based on roles assigned to user
          content:
            application/json:
              schema:
                type: object
                description: A paginated list of authorization keys.
                required:
                  - page
                  - pageSize
                  - totalCount
                  - keys
                properties:
                  page:
                    type: integer
                    description: Zero-based page index returned in this response.
                    minimum: 0
                    x-go-type-skip-optional-pointer: true
                    x-order: 1
                  pageSize:
                    type: integer
                    description: Maximum number of items returned on each page.
                    minimum: 1
                    x-go-type-skip-optional-pointer: true
                    x-order: 2
                    x-oapi-codegen-extra-tags:
                      json: pageSize
                  totalCount:
                    type: integer
                    description: Total number of items across all pages.
                    minimum: 0
                    x-go-type-skip-optional-pointer: true
                    x-order: 3
                    x-oapi-codegen-extra-tags:
                      json: totalCount
                  keys:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      description: Represents an authorization key used for access control.
                      required:
                        - id
                        - owner
                        - function
                        - category
                        - subcategory
                        - description
                        - createdAt
                        - updatedAt
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                          x-go-name: ID
                          x-oapi-codegen-extra-tags:
                            db: id
                            json: id
                          x-order: 1
                        owner:
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                          x-go-name: Owner
                          x-oapi-codegen-extra-tags:
                            db: owner
                            json: owner
                          x-order: 2
                        function:
                          type: string
                          description: Operation permitted by the key.
                          x-oapi-codegen-extra-tags:
                            db: function
                            json: function
                          x-order: 3
                          maxLength: 500
                        category:
                          type: string
                          description: Category for the key.
                          x-oapi-codegen-extra-tags:
                            db: category
                            json: category
                          x-order: 4
                          maxLength: 500
                        subcategory:
                          type: string
                          description: Subcategory for the key.
                          x-oapi-codegen-extra-tags:
                            db: subcategory
                            json: subcategory
                          x-order: 5
                          maxLength: 500
                        description:
                          type: string
                          description: Human readable description of the key.
                          x-oapi-codegen-extra-tags:
                            db: description
                            json: description
                          x-order: 6
                          maxLength: 5000
                        createdAt:
                          type: string
                          format: date-time
                          description: Timestamp when the key was created.
                          x-go-type: time.Time
                          x-go-type-skip-optional-pointer: true
                          x-oapi-codegen-extra-tags:
                            db: created_at
                            json: createdAt
                          x-order: 7
                        updatedAt:
                          type: string
                          format: date-time
                          description: Timestamp when the key was last updated.
                          x-go-type: time.Time
                          x-go-type-skip-optional-pointer: true
                          x-oapi-codegen-extra-tags:
                            db: updated_at
                            json: updatedAt
                          x-order: 8
                        deletedAt:
                          type: string
                          format: date-time
                          description: Timestamp when the key was soft-deleted.
                          nullable: true
                          x-go-type: core.NullTime
                          x-go-type-import:
                            path: github.com/meshery/schemas/models/core
                            name: core
                          x-oapi-codegen-extra-tags:
                            db: deleted_at
                            json: deletedAt,omitempty
                          x-order: 9
                    x-order: 4
                    description: Keys returned on the current page.
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: Result not found
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
  /api/auth/keys:
    get:
      x-internal:
        - cloud
      tags:
        - Key_Key
      summary: List key
      operationId: getKeys
      parameters:
        - name: page
          in: query
          description: Get responses by page
          schema:
            type: integer
            minimum: 0
        - name: pageSize
          in: query
          description: >-
            Number of responses to return per page. Canonical camelCase pagination parameter; prefer this over the
            deprecated all-lowercase `pagesize`.
          schema:
            type: integer
            minimum: 1
        - name: pagesize
          in: query
          description: Get responses by pagesize. Deprecated alias of pageSize.
          deprecated: true
          schema:
            type: integer
        - name: search
          in: query
          description: Get responses that match search param value
          schema:
            type: string
        - name: order
          in: query
          description: Get ordered responses
          schema:
            type: string
      responses:
        '200':
          description: Keys fetched
          content:
            application/json:
              schema:
                type: object
                description: A paginated list of authorization keys.
                required:
                  - page
                  - pageSize
                  - totalCount
                  - keys
                properties:
                  page:
                    type: integer
                    description: Zero-based page index returned in this response.
                    minimum: 0
                    x-go-type-skip-optional-pointer: true
                    x-order: 1
                  pageSize:
                    type: integer
                    description: Maximum number of items returned on each page.
                    minimum: 1
                    x-go-type-skip-optional-pointer: true
                    x-order: 2
                    x-oapi-codegen-extra-tags:
                      json: pageSize
                  totalCount:
                    type: integer
                    description: Total number of items across all pages.
                    minimum: 0
                    x-go-type-skip-optional-pointer: true
                    x-order: 3
                    x-oapi-codegen-extra-tags:
                      json: totalCount
                  keys:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      description: Represents an authorization key used for access control.
                      required:
                        - id
                        - owner
                        - function
                        - category
                        - subcategory
                        - description
                        - createdAt
                        - updatedAt
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                          x-go-name: ID
                          x-oapi-codegen-extra-tags:
                            db: id
                            json: id
                          x-order: 1
                        owner:
                          type: string
                          format: uuid
                          description: >-
                            A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                            definition is used across different schemas.
                          x-go-type: uuid.UUID
                          x-go-type-import:
                            path: github.com/gofrs/uuid
                          x-go-name: Owner
                          x-oapi-codegen-extra-tags:
                            db: owner
                            json: owner
                          x-order: 2
                        function:
                          type: string
                          description: Operation permitted by the key.
                          x-oapi-codegen-extra-tags:
                            db: function
                            json: function
                          x-order: 3
                          maxLength: 500
                        category:
                          type: string
                          description: Category for the key.
                          x-oapi-codegen-extra-tags:
                            db: category
                            json: category
                          x-order: 4
                          maxLength: 500
                        subcategory:
                          type: string
                          description: Subcategory for the key.
                          x-oapi-codegen-extra-tags:
                            db: subcategory
                            json: subcategory
                          x-order: 5
                          maxLength: 500
                        description:
                          type: string
                          description: Human readable description of the key.
                          x-oapi-codegen-extra-tags:
                            db: description
                            json: description
                          x-order: 6
                          maxLength: 5000
                        createdAt:
                          type: string
                          format: date-time
                          description: Timestamp when the key was created.
                          x-go-type: time.Time
                          x-go-type-skip-optional-pointer: true
                          x-oapi-codegen-extra-tags:
                            db: created_at
                            json: createdAt
                          x-order: 7
                        updatedAt:
                          type: string
                          format: date-time
                          description: Timestamp when the key was last updated.
                          x-go-type: time.Time
                          x-go-type-skip-optional-pointer: true
                          x-oapi-codegen-extra-tags:
                            db: updated_at
                            json: updatedAt
                          x-order: 8
                        deletedAt:
                          type: string
                          format: date-time
                          description: Timestamp when the key was soft-deleted.
                          nullable: true
                          x-go-type: core.NullTime
                          x-go-type-import:
                            path: github.com/meshery/schemas/models/core
                            name: core
                          x-oapi-codegen-extra-tags:
                            db: deleted_at
                            json: deletedAt,omitempty
                          x-order: 9
                    x-order: 4
                    description: Keys returned on the current page.
        '400':
          description: Invalid request body or request param
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Expired JWT token used or insufficient privilege
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            text/plain:
              schema:
                type: string
    post:
      x-internal:
        - cloud
      tags:
        - Key_Key
      summary: Create or update a key
      operationId: upsertKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Payload for creating or updating a key.
              properties:
                id:
                  type: string
                  format: uuid
                  description: >-
                    A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                    definition is used across different schemas.
                  x-go-type: uuid.UUID
                  x-go-type-import:
                    path: github.com/gofrs/uuid
                  x-order: 1
                  x-oapi-codegen-extra-tags:
                    json: id,omitempty
                function:
                  type: string
                  description: Operation permitted by the key.
                  x-order: 2
                  maxLength: 500
                category:
                  type: string
                  description: Category for the key.
                  x-order: 3
                  maxLength: 500
                subcategory:
                  type: string
                  description: Subcategory for the key.
                  x-order: 4
                  maxLength: 500
                description:
                  type: string
                  description: Human readable description of the key.
                  x-order: 5
                  maxLength: 5000
      responses:
        '200':
          description: Key upserted
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                description: Represents an authorization key used for access control.
                required:
                  - id
                  - owner
                  - function
                  - category
                  - subcategory
                  - description
                  - createdAt
                  - updatedAt
                properties:
                  id:
                    type: string
                    format: uuid
                    description: >-
                      A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                      definition is used across different schemas.
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-go-name: ID
                    x-oapi-codegen-extra-tags:
                      db: id
                      json: id
                    x-order: 1
                  owner:
                    type: string
                    format: uuid
                    description: >-
                      A Universally Unique Identifier used to uniquely identify entities in Meshery. The UUID core
                      definition is used across different schemas.
                    x-go-type: uuid.UUID
                    x-go-type-import:
                      path: github.com/gofrs/uuid
                    x-go-name: Owner
                    x-oapi-codegen-extra-tags:
                      db: owner
                      json: owner
                    x-order: 2
                  function:
                    type: string
                    description: Operation permitted by the key.
                    x-oapi-codegen-extra-tags:
                      db: function
                      json: function
                    x-order: 3
                    maxLength: 500
                  category:
                    type: string
[...]
