<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">

<head>
  {{ partial "head.html" . }}
</head>
<body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <div class="video-page-container">
        <div class="navbar-sticky-wrapper" style="min-height: 5rem;">
            <header>{{ partial "navbar.html" . }}</header>
        </div>
    <!-- Hero Section -->
  <div class="hero-section-wrapper">
    <h1>{{ .Title }}</h1>
    <p class="hero-subtitle">{{ .Description }}</p>
    
    {{ if .Params.featured_video }}
    <div class="hero-video-wrapper">
      <div class="hero-video-container position-relative">
        <div class="h-100">
          <img src="{{ .Params.featured_image }}" alt="{{ .Title }}" class="img-fluid">
        </div>
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-overlay">
          <div class="video-btn-wrapper position-absolute top-50 start-50 translate-middle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57 60">
              <path class="play-icon-path" d="M39.5298 29.028L21.7045 39.395C21.6471 39.4284 21.5893 39.4603 21.5311 39.4908C20.9134 39.8161 20.2107 40 19.4654 40C16.9992 40 15 37.9861 15 35.5018V14.5102C15 13.6377 15.2466 12.8233 15.6734 12.1337C16.9369 10.0722 19.6075 9.38388 21.7044 10.6034L39.5291 20.97C40.2869 21.3504 40.9459 21.9517 41.401 22.7457C41.811 23.4611 42.0038 24.2428 41.9999 25.0133C41.999 25.7747 41.806 26.5461 41.4009 27.2527C40.9461 28.0464 40.2873 28.6476 39.5298 29.028Z" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  </div> 

  <div class="container-fluid video-main-wrapper">
     {{ block "main" .}}{{ end }}
    {{ partial "footer.html" . }}
  </div>
  {{ partial "scripts.html" . }}
  {{ partial "image-modal.html" . }}


<script>
var navbar = document.querySelector('nav');
window.onscroll = function() {
  // pageYOffset or scrollY
  if (window.pageYOffset > 0) {
    navbar.classList.add('scrolled')
  } else {
    navbar.classList.remove('scrolled')
  }
}
</script>
</body>

</html>