{{ $data := "" }}
{{ $p := "csv/keys.csv" }}
{{ $excludedColumns := slice 4 6 7 }} 

{{ with resources.Get $p }}
  {{ $opts := dict "delimiter" "," }}
  {{ $data = .Content | transform.Unmarshal $opts }}
{{ else }}
  {{ errorf "Unable to get resource %q" $p }}
{{ end }}

{{ if $data }}
  <table class="csvtable">
    <thead>
      <tr>
        {{ range $i, $col := index $data 1 }}
          {{ if not (in $excludedColumns $i) }}
            <th>{{ $col }}</th>
          {{ end }}
        {{ end }}
      </tr>
    </thead>
    <tbody>
      {{ range $i, $row := $data }}
        {{ if gt $i 1 }}
          <tr>
            {{ range $j, $cell := $row }}
              {{ if not (in $excludedColumns $j) }}
                <td>{{ $cell }}</td> 
              {{ end }}
            {{ end }}
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
{{ else }}
  <p>No data available.</p>
{{ end }}
