{{ $data := "" }}

{{ $p := "static/data/csv/keys.csv" }}
{{ $excludedColumns := slice 0 10 11 12 13 14 15 16 17 18 }} 

{{ if os.FileExists $p }}
  {{ $opts := dict "delimiter" "," }}
  {{ $data = (os.ReadFile $p | transform.Unmarshal $opts) }}
{{ else }}
  {{ errorf "Unable to get resource %q" $p }}
{{ end }}


{{ if $data }}
  {{ $uniqueCategories := slice }}

  {{ range $i, $row := $data }}
    {{ if gt $i 1 }}
      {{ $category := trim (index $row 0) " " }}
      {{ if not (in $uniqueCategories $category) }}
        {{ $uniqueCategories = $uniqueCategories | append $category }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ range $index, $category := $uniqueCategories }}
    <h2>{{ $category }} Permissions</h2>
    <table class="csvtable td-initial">
      <thead>
        <tr>
          {{ range $i, $col := index $data 1 }}
            {{ if and (not (in $excludedColumns $i)) (or (eq $i 0) (ne $i 1) (ne $i 2)) }}
            {{ if and (eq $i 1) }}
            <th>Permission</th>
            {{ else }}
            {{ if and (eq $i 2) }}
            <th>Description</th>
            {{ else }}
            <th>{{ $col }}</th>
            {{ end }}{{ end }}
            {{ end }}
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range $i, $row := $data }}
          {{ if and (gt $i 0) (eq (trim (index $row 0) " ") $category) }}
            <tr>
              {{ range $j, $cell := $row }}
                {{ if and (not (in $excludedColumns $j)) (or (gt $j 2) (lt $j 10)) }} 
                  <td>
                    {{ if and (gt $j 2) (lt $j 10) }} 
                      {{ if eq $cell "X" }}
                        ✅
                      {{ else if eq $cell "X*" }}
                        ✅*
                      {{ else }}
                        ❌
                      {{ end }}
                    {{ else }}
                      {{ $cell }}
                    {{ end }}
                  </td>
                {{ end }}
              {{ end }}
            </tr>
          {{ end }}
        {{ end }}
      </tbody>
    </table>
  {{ end }}

{{ else }}
  <p>No data available.</p>
{{ end }}
