{{ $feature_name := .Get "feature_name" }}
{{ $pricingDataJson := getJSON "pricing_data.json" }}

{{ if $pricingDataJson }}
{{ $feature := index (where $pricingDataJson "entire_row.Feature" $feature_name) 0 }}

<div class="matterinfo">
    <h4 class="matterheader">Who can use this feature</h4>

    {{ if $feature }}
    {{ $subscription_tier := index $feature.entire_row "Subscription Tier" }}
    <div class="plan-support all-plans {{ lower $subscription_tier }}-plan">
        <img src="../../assets/icons/subscription.svg" alt="Icon" class="support-icon adaptive-icon">
        Supported on <span class="tier"> {{ $subscription_tier }} </span> Plan
    </div>
    {{ else }}
    <p>Feature information not found</p>
    {{ end }}
</div>
{{ else }}
<p>Error: Could not load pricing data</p>
{{ end }}