name: Import Keys
on:
  workflow_dispatch:
    inputs:
      spreadsheet_uri:
        description: Link of the spreadsheet containing keys.
        type: string
        default: https://docs.google.com/spreadsheets/d/e/2PACX-1vQwzrUSKfuSRcpkp7sJTw1cSB63s4HCjYLJeGPWECsvqn222hjaaONQlN4X8auKvlaB0es3BqV5rQyz/pub?gid=64355745&single=true&output=csv
  schedule:
    - cron: "0 0 * * *"
jobs:
  fetch-keys:
    name: Fetch Keys
    if: github.repository == 'layer5io/docs'
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 1
      - name: Set spreadsheet_uri as environment variable
        run: |
          if [ -n "${{ inputs.spreadsheet_uri }}" ]; then
            echo "spreadsheet_uri=${{ inputs.spreadsheet_uri }}" >> $GITHUB_ENV
          else
            echo "spreadsheet_uri=https://docs.google.com/spreadsheets/d/e/2PACX-1vQwzrUSKfuSRcpkp7sJTw1cSB63s4HCjYLJeGPWECsvqn222hjaaONQlN4X8auKvlaB0es3BqV5rQyz/pub?gid=64355745&single=true&output=csv" >> $GITHUB_ENV
          fi

      - name: Dump keys from the spreadsheet
        run: |
          curl -L "$spreadsheet_uri" -o "./keys.csv";
      - name: Create permissions folder
        run: |
          [ ! -d "./static/data/csv" ] && mkdir -p "./static/data/csv";
          mv keys.csv static/data/csv/keys.csv;
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Added permissions keys.
          branch: master
          commit_options: "--signoff"
          commit_user_name: l5io
          commit_user_email: ci@layer5.io
          commit_author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
